[2020-05-15 03:51] jiefengsun opened #1 "Visualization"
Hello,

I just want to ask what software you used to visualize the results as done in your papers.  Is it Blender?

[2020-05-16 21:33] nmnaughton commented on #1
Hi @jiefengsun, thanks for reaching out! We use POVray for our visualizations and have developed some custom scripts for the command line use of it. However, it does look like POVray can be interfaced with Blender, so that might be a good (maybe even better?) method for visualization.

[2020-05-16 22:29] jiefengsun commented on #1
Thanks for the clarification! I asked the question since I found the link to the visualization part was missing. Look forward to seeing your update on that part.

[2020-05-16 22:59] nmnaughton commented on #1
Yes, we are behind on that section of the website. We hope to have something posted soon. Thanks for your interest!

[2020-05-16 22:59] #1 closed

[2020-07-02 18:12] pcsong33 opened #2 "Applying non-constant torques and forces"
Hello,
Is there a way to apply non-constant forces / torques to a rod? For example, I am trying to apply torque to a rod for a certain duration of time, rather than to have the torque act on the rod for the whole duration of the simulation.

[2020-07-02 19:12] armantekinalp commented on #2
Hello,

Yes you can apply torque in a certain time interval. For that I suggest you to write your own forcing class. Below I am also adding an example code for you.

[code]

There are couple of example forcing classes in [elastica/external_forces.py](https://github.com/GazzolaLab/PyElastica/blob/master/elastica/external_forces.py), check them out as well.

[2020-07-06 14:04] pcsong33 commented on #2
Thank you for your help!

[2020-07-06 14:04] #2 closed

[2020-07-13 04:57] HogeLab opened #3 "Plectoneme-Solenoid Transition"
Hello.

I want to simulate Plectoneme-Solenoid Transition in the paper.
How did you do it ?
What module did you use?

[2020-07-15 01:40] armantekinalp commented on #3
Hello,

We have not included that case in our examples for PyElastica yet. For the paper it was simulated using our Cpp code. You can also set this case by yourself with PyElastica. What you have to do is:

1. Set up your client file create simulation class, rod object, append rod object to simulation etc. You can refer to one of the example cases in `examples` directory. Also I suggest you to vis

[2020-07-15 02:48] HogeLab commented on #3
Thank you !　
I also want to try the simulation in the case of adding a torque at the end of the rod , but a module like `EndPointTorques` dosen't exit.
Do I need to make that module by myself ?

[2020-07-15 03:02] armantekinalp commented on #3
Yes you need to write the class. Couple of reminders,

1. Make sure you derived new forcing class for `EndPointTorques` from `NoForces` class. Otherwise simulation will throw an error.

2. Add your torque calculation in `apply_torque` class method.

3. We are storing external torques in material frame, so if you are applying torque in lab frame of reference then you need to multiply computed torqu

[2020-07-15 04:10] HogeLab commented on #3
Thank you very much.

[2020-07-15 04:11] #3 closed

[2020-07-26 16:13] HogeLab commented on #3
I can't find Self-contact setting that corresponds to `useSelfContact` in elastica++. Where is it ? Will it be programmed in the future?

[2020-07-26 16:29] armantekinalp commented on #3
Yes it hasn't implemented yet. It will be implemented in future.

[2020-07-26 21:27] HogeLab commented on #3
Thanks.

[2020-10-08 02:35] adoroud opened #4 "Visualization"
Hi,

What is the class or commands for the octopus visualization? does Elastica (PyElastica) have an environment for the visualization part? I could not find anything in your examples providing the same outputs as in the case studies.

Thanks,

[2020-10-15 11:54] nmnaughton commented on #4
Hi @adoroud,

We have not yet released any visualization scripts. We are preparing an update to be released soon and hope to include some there.

[2020-10-15 17:35] adoroud commented on #4
Thank you for your reply,
Azadeh

[2020-11-02 16:22] nmnaughton commented on #4
Hi @adoroud

We just released a new version of PyElastica with an example script for how we do our visualizations. It is located [here]
(https://github.com/GazzolaLab/PyElastica/tree/master/examples/Visualization). Hope this is helpful!

[2020-11-02 16:22] #4 closed

[2020-11-02 22:43] adoroud commented on #4
Hi,

Thanks a lot for informing me.

Best,
Azadeh

[2020-11-30 15:24] ing1992 opened #7 "Applying a constant torque in one direction"
Hello!
Is there any way to apply torque( at the end of the rod) in the same direction as rod is fixed. For example I have a rod in y direction and I would like to apply a torque in this direction. I have created a calss called "OnedirectionTorque"

class OnedirectionTorque(NoForces):
    def __init__(self,torque_end,direction):
        super(EndPointTorques, self).__init__()
        self.torque_en

[2020-11-30 15:44] armantekinalp commented on #7
Hello @ing1992

Your `OnedirectionTorque` implementation looks right. This class will apply a torque on the last element of the rod in the direction set by `direction` variable.

However, I think you should change the lines of code you added in your `timoshenko.py` file.
This code is using the `UniformTorques` class which is some other class to generate uniform torques.
`timoshenko_sim.add_forcing

[2020-11-30 16:19] ing1992 commented on #7
Thank you for answering my question
I have tried your suggestion (but forgot to change it whene I wrote the
message)
Code runs correctly but does not produce any change on the rod!

On Mon, 30 Nov 2020, 16:45 armantekinalp, <notifications@github.com> wrote:

[2020-11-30 17:08] armantekinalp commented on #7
Since the torque you are applying is in the rod direction, it generates torsion on the rod. You can check if your code works or not by just printing the twist value of the rod, which can be accessed by `shareable_rod.kappa[2]` . I suggest printing out the value `kappa[2]` and see if it is changing or not.

If you are interested in rod buckling, you should disturb the rod. Otherwise rod won't chang

[2020-12-01 13:26] #7 closed

[2020-12-01 13:27] ing1992 commented on #7
Thank you @armantekinalp

[2020-12-30 17:14] rohitkjohnedu opened #8 "Errors with the notebooks"
Hello,

I was running the code in the notebook for the Timoshenko beam (https://hub.gke2.mybinder.org/user/gazzolalab-pyelastica-0ttn23rh/notebooks/examples/Binder/1_Timoshenko_Beam.ipynb). I got an error in the last notebook cell, and it said the following "AttributeError: 'PositionVerlet' object has no attribute 'do_step'". How do I fix this error?

In the slithering snake tutorial, I got an err

[2020-12-31 02:38] armantekinalp commented on #8
Hello Rohit,

Thanks for pointing out the errors. I updated both Jupyter Notebooks  for both `1_Timoshenko_Beam.ipynb` and `2_Slithering_Snake.ipynb` , now both of them work fine.  If you are running notebooks on the Binder there is still a bug for making the slithering snake videos, but you should be able to run it on your local with `FFMPEG`.
Please let me know if you see any other problems?

Be

[2021-01-19 20:22] nmnaughton commented on #8
When we updated the new version of PyElastica, we accidentally deleted the `apt.txt` file from the main directory which tells Binder to install ffmpeg. I readded the file (and also readded the `continuum_snake.mp4` to the assets folder, which also got overwritten). Ffmpeg works on Binder now.

[2021-01-19 20:22] #8 closed

[2021-03-01 11:58] alantes opened #9 "Path Error"
The examples/Visualization/ContinuumSnakeVisualisation/continuum_snake_render.py file cannot run correctly. The error is: ModuleNotFoundError: No module named 'examples'.
I think it may be be path error.

[2021-03-01 14:41] armantekinalp commented on #9
@alantes Thanks for pointing out this issue.  PR #10  should solve this problem.

[2021-03-02 02:05] alantes commented on #9
Thank you for your marvelous work! But I have to remind that there are some other files share the same issue, too (e.g. helicalbuckling.py). It would be particularly nice if you can reexamine the files.

[2021-03-02 02:34] armantekinalp commented on #9
@alantes Are you using the current master branch, or did you ` pip install PyElastica`? Also can you share the error message here. Thank you.

[2021-03-02 02:48] alantes commented on #9
I am using the current master branch. Downloaded the source code and run in the terminal
python continuum_snake.py
python continuum_snake_render.py
The first one is okay but the second one is followed by:
from examples.Visualization._povmacros import Stages, pyelastica_rod, render
ModuleNotFoundError: No module named 'examples'
Sorry for my unfamiliarity with coding, otherwise I can debug it mysel

[2021-03-02 03:00] armantekinalp commented on #9
Okay can you clone again from the master branch and run `python continuum_snake_render.py`. Path for `examples` directory was added with our last PR.

[2021-03-02 03:30] alantes commented on #9
Thanks a lot for your patience!! It's now working.

[2021-03-02 03:34] armantekinalp commented on #9
You are welcome. I am closing this issue if you have any more question please feel free to open this issue or create a new one.

[2021-03-02 03:34] #9 closed

[2021-03-29 15:25] daphne198693 opened #11 "paralleled rod connection setting"
Dear PyElastica,

thank you in advance.
While using powerful PyElastica to model a soft robot, which is consisted of 3 parallel rods connected from each other. Luckily, I found a similar one from your paper: Topology, Geometry, and Mechanics of Strongly Stretched and Twisted Filaments: Solenoids, Plectonemes, and Artificial Muscle Fibers, but i can not find any reference code.
So could you share t

[2021-03-29 16:29] daphne198693 commented on #11
i mean the parallel rod in which the end point directions are the same, like they are bonded.

[2021-03-30 14:08] armantekinalp commented on #11
Hi Daphne,

Thanks for reaching out. Could you please more specific which example (Fig?) are you referring in `Topology, Geometry, and Mechanics of Strongly Stretched and Twisted Filaments: Solenoids, Plectonemes, and Artificial Muscle Fibers` paper.

[2021-03-30 15:12] daphne198693 commented on #11
Hi Armantekinalp,

thanks a lot for your prompt reply.
yea, exactly this paper. but i'm not doing HelicalBuckling simulation, just three rods attached together, once one of them gets stain and elongated, rest of them would be elongated proportionally.
i have drawn a draft.
![3_rod_para](https://user-images.githubusercontent.com/81573377/113012272-e7725700-917a-11eb-8598-92dd9b8b43ea.png)
Thanks a

[2021-03-31 19:27] armantekinalp commented on #11
Hi @daphne198693,

First, in PRL paper we applied two end boundary condition on the rod. So it is not a relevant to the problem you are trying to solve.

Second, for your experiment you should constrain relative position and orientation of the rods.
For example let's take two rods. You want to constrain distance between the surfaces of these two rods. In other words you should apply a restoring fo

[2021-04-01 15:54] daphne198693 commented on #11
Hi Armantekinalp,

Thanks very much for your so helpful suggestion and so detailed guide.
That's amazing news that you will release more general frameword, hope it will not long. :)
now I'm exactly modeling start with using one rod whose two ends with fixed joints to make constrain with others rods, and try to restore torques with UniformTorques. If there are some example of adding different types

[2021-04-01 16:19] daphne198693 commented on #11
BTW,  could Pyelastica support polymer foam this kind of material simulation, can be compressed or elongated with high percentage?
like Young's Elastic Modulus range is from how much?
i have tried quite a lot combinations, seems not get good result. if you could give some suggestion it will be grateful :)

[2021-04-01 23:01] armantekinalp commented on #11
So you want to be careful here. `fixed_point.py` is an example to join two rods not by side by side but at the rod ends. You can see that if you run the scripts and check the videos. In your case, you want to attach two rods side by side so you need to write your own `JointClass` for that. However the high-level idea is the same, i.e. you fix relative position and orientation of rods by applying f

[2021-04-01 23:04] armantekinalp commented on #11
By default PyElastica uses a linear elastic model and rods are treated as incompressible. Do you have a constitutive model for your polymer foam?  Is it linear elastic?

[2021-04-01 23:28] daphne198693 commented on #11
Thanks for your prompt reply. :)
Yea, it's linear elastic. Actually, we focus on modeling some kind of soft robot, and i do not have a constitutive model for the polymer foam yet, but whose character is similar to spring.

[2021-04-03 20:52] emersonkt opened #12 "Create a pre-curved rod"
Hello PyElastica,

I am a student and I am trying to apply the library 'PyElastica' in my project for a rod with a pre-curvature. But I could only create a straight rod. Could you please advise me if there is a way to make a pre-curved rod?

Thank you in advance for your help and congratulations for this beautiful work !

Émerson

[2021-04-04 15:01] armantekinalp commented on #12
Hi @emersonkt

There are couple of things you need to do before creating a curved rod:
1) You need to create node positions as an array of `(3,n_elem+1)` which contains the `x,y,z` coordinates (row wise) of the nodes. Note that number of nodes is number of element +1 .
2) You need to compute tangents vector. Since you have positions vector already (in step 1), procedure is straight forward.
[code]

[2021-04-05 15:13] daphne198693 commented on #11
Hi Armantekinalp,
as you mentioned Pyelastica is incompressible, but i tried different combinations of rob parameters, i did not find the way to make the single rod elongate. do you have any suggestion?
thank you a lot

[2021-04-05 22:31] armantekinalp commented on #11
Hi @daphne198693

Can you be more specific? For example what are you boundary conditions, external forces, rod parameters?

[2021-04-06 12:11] emersonkt commented on #12
Thank you very much ! It worked well and I got the desired pre-curved rod.

In the other hand, when a force is defined in the end tip of the robot, I got a movement just in the last element of the rod as the attached image. Why are the elements not connected ?

Here below I send you the code as I typed it.

![force error](https://user-images.githubusercontent.com/19920999/113708432-81895080-96e1-1

[2021-04-06 12:41] emersonkt opened #13 "Static Analysis of the Rod"
Hello PyElastica,

In my project, I do a static analysis of 3 rods in parallel. So far, two examples that I have seen are that of timoshenko and the snake, but both are dynamic models.

To do this, I thought of setting the force ramp time close to zero compared to the final time and "_nu_" large enough to "dissipate" the energy and converge as fast as possible. Despite reaching the desired final c

[2021-04-06 21:52] armantekinalp commented on #12
Hi @emersonkt,

Can you also provide how you provide your forcing class? Also did you see any numerical instabilities in your simulation i.e. `NaN` in position, velocity arrays?

[2021-04-06 22:19] armantekinalp commented on #13
Hi @emersonkt,

Do you have 3 connected rods in your simulations or 1? Connection of  3 rods were asked in another issue #11. Maybe read the discussion there and let me know if you have any questions.

There might be an issue in your approach. You need to ramp the force in a finite amount of time otherwise numerical instabilities can happen. This finite time depends on the load and rod properties.

[2021-04-07 07:31] emersonkt commented on #13
Thank you very much for your prompt feedback and your observations. It has helped me to clarify on the issue.

[2021-04-07 07:31] #13 closed

[2021-04-07 07:52] emersonkt commented on #12
Here below the forcing class:
[code]

Looking at the position and velocity arrays, I got the following results. So maybe the velocities are good! However, just on the last element of the **x** axis I am getting an ununderstandable result.

[code]

[2021-04-09 08:43] xiaoerlaigeid opened #15 "how to load a custom model and apply this rod algorithm"
Very impressive Jobs! I am attempt to use this library in vascular intervention simulation platform. I want to load vascular model  and apply this rod as catheter. But I don't know how to load my model(a STL file)  and  make the rod have collision and friction. Could you give me some demo ? Thanks!

[2021-04-11 14:48] armantekinalp commented on #15
Hi @xiaoerlaigeid,

Currently we don't have a support to generate a rod from a STL file. However, to generate a rod you need `position` of nodes and `radius` of elements. I think If you have an STL file you can generate those.  Regarding the contact(collision) model PyElastica only have contact model between rod and rigid cylinder, but in our future we will have rod-rod and self contact. Finally,

[2021-04-12 05:38] xiaoerlaigeid commented on #15
Thank you for your reply.  I mean I want to load an STL model which is used for the environment.   Or just using some cube and sphere tossss replace STL environment.   Do you have a demo like this  ?

[2021-04-12 17:04] ilanataha opened #16 "Issues defining compute_and_plot_velocity(plot_params: dict, period) function"
I've been trying to write a plotting function for different rod systems just to get a feel for this software. I have based my code on the `compute_and_plot_velocity` function defined in the Slithering Snake tutorial. I have also  imported all the wrappers mentioned.

However I run into the same error every time: "from analysis_functions import compute_projected_velocity
ModuleNotFoundError: No mod

[2021-04-12 17:23] armantekinalp commented on #16
Hi @ilanataha,

Are you running this on your local system or on Binder? It seems to me that python cannot find and import from `analysis_functions.py` . So can you check if the script you are wrote ` compute_and_plot_velocity` function and `analysis_functions.py` are in the same directory?

[2021-04-12 19:10] armantekinalp commented on #15
We are planning to develop an STL support in future but unfortunately we don't have a STL support and demo right now.

[2021-04-12 20:36] emersonkt commented on #12
Hi @armantekinalp,

Thank you very much for the support, however I am still having the same problem. My project is being done via Google Colab, so I guess the library is pulled on each build, right ?

[2021-04-12 20:49] armantekinalp commented on #12
Hi @emersonkt ,

I am not familiar with how Google Colab pulls the library. If it is doing `pip install pyelastica` then I don't think you will see the updates, because we haven't done a new package release for `pip`.

Can you check if you can clone `pyelastica` from master to your Google Colab directory?

[2021-04-13 07:47] emersonkt commented on #12
I get it. Your comment led me to this website [https://medium.com/@ashwindesilva/how-to-use-google-colaboratory-to-clone-a-github-repository-e07cf8d3d22b](url) which explains how to use git with google colab (if anyone else is interested). Now it is perfect !

Thank you very much for your excellent work!

[2021-04-13 07:47] #12 closed

[2021-04-13 13:19] ilanataha commented on #16
I tried moving the script into the pyelastica folder of the project, it didn't help. But I checked and it seems that` analysis_functions.py` is nowhere to be found in the folder itself, or anywhere on my computer, really. I'll maybe try reinstalling the package.

[2021-04-13 13:25] armantekinalp commented on #16
If you install the package with `pip install pyelastica`, `examples` folder won't be installed. Only PyElastica source code will be installed. Try to clone or download PyElastica from GitHub to your local machine. Then copy/move the `analysis_functions.py` in your working directory.

[2021-04-14 16:24] daphne198693 commented on #11
Thank you @armantekinalp for your so patient and helpful support.
we are keeping attention on your latest release.
thank you very much

[2021-07-09 14:19] Abdelrahman-Alkhodary opened #17 "Simulating Soft Arm in Pyelastica"
Hello all,

I have a task in my project to simulate a soft robotics arm that is actuated by 12 cables connected to 3 discs with four cables connected to each disc. The three discs are distributed over the arm with one close to the base, one in the middle and the last close to the end of the arm. I would like to ask if it's possible to use pyelastica to simulate the arm as while I was going through

[2021-07-29 10:07] armantekinalp commented on #7
Hi @Seren1ty-bot ,

I think some variable is missing when you do `add_forcing_to`. Could you please check the variable names and make sure you add everything that `UniformTorques` class uses to during initialization step?

If that not works please share the part of the code, where you add `UniformTorques` class in to your simulation.

[2021-07-31 08:47] armantekinalp commented on #7
Hi @Seren1ty-bot

Couple of things:

1) Are there any other forcing class added to your simulation?

2) Have you changed anything in `UniformTorques` class? Can you try this

`timoshenko_sim.add_forcing_to(shearable_rod).using(
    UniformTorques,
    torque  = torque,
    direction  = direction1
)`

3) You don't need to add `OnedirectionTorque` class in to the core PyElastica files. You can have

[2021-07-31 12:24] armantekinalp commented on #7
These are the problems I see

1. In your `untitled0.py` file you import `endpointtorque` but the name of the class is `EndPointTorque`.
2.  In your `endpointtorque.py`  you have some mistakes. First you cannot write `def init`, you should write `def __init__(self, ....) `
2. Second `apply_torques` method, you should first multiply end point torque with directors and then add to the external_torque

[2021-07-31 19:34] nmnaughton commented on #17
If you want to attach cables you will need to treat each cable as an individual rod that you attach to the main arm using joints (https://www.cosseratrods.org/cosserat_rods/multiple-rods/). To model the disks you likely need to create custom boundary conditions that model the effects of the disks as there are not currently any routines written that do this.

[2021-08-03 10:16] armantekinalp commented on #7
Hi @Seren1ty-bot

Below code is running on my local device. Can you copy on your local and try it again.

[code]

[2021-08-24 10:44] RUFFY-369 opened #18 "Faster than real-time simulation?"
Hi @nmnaughton , does the PyElastica simulator provides faster than real time simulation. If yes/no, then to what extent the speed can be optimised right now for the current version of the software?

[2021-08-24 11:41] #18 closed

[2021-09-18 12:37] michael-baier opened #21 "Point Force Class"
Hello,
Is there a way to apply a force to the Rod (for example in the middle)? how can i implement it?

Any help would be of great assistance.
Thank you

[2021-09-18 16:45] armantekinalp commented on #21
Hi @michael-baier ,

Yes. PyElastica allows you to apply forces on rods. You can use the default `forcing` classes available in PyElastica or you can write on your own. In order to see available forcing classes and their implementation please check this [link](https://github.com/GazzolaLab/PyElastica/blob/master/elastica/_elastica_numpy/_external_forces.py)

However, if you want to apply a force t

[2021-09-19 12:35] michael-baier commented on #21
Thank you very much! You helped me to solve my problem.

[2021-09-19 14:15] #21 closed

[2021-10-14 19:27] davenpi opened #22 "Code in getting started guide doesn't work"
Hi all,

Thanks for writing the package! I'm just getting started and trying to test a few things out but the code from the [getting started guide](https://www.cosseratrods.org/software/pyelastica/) doesn't run. The code in the guide has a few syntactical errors (missing equals signs) but more importantly it seems that the API has changed a bit and isn't reflected in the docs.
<img width="1127" al

[2021-10-14 22:42] armantekinalp commented on #22
@davenpi  I run the Slithering Snake example notebook on [binder](https://mybinder.org/v2/gh/GazzolaLab/PyElastica/master?filepath=examples%2FBinder%2F0_PyElastica_Tutorials_Overview.ipynb) and it outputs a snake velocity plot and a video showing the snake motion. Where did you run the notebook?

[2021-10-15 23:48] davenpi commented on #22
I'm running it in a Colab notebook. Everything before the screenshot works. The problem is the "analysis functions" import in the `compute_and_plot_velocity` function. My thinking was that this notebook should generate plots in a self contained manner but it seems that I need to define my own module to make this work. Is that correct?
<img width="760" alt="Screen Shot 2021-10-15 at 7 46 03 PM" src

[2021-11-09 04:17] armantekinalp commented on #22
#24

[2021-11-09 23:08] neelay-j opened #25 "Instability when Simulating Suture Thread"
Hello,

I am using PyElastica to simulate surgical suture thread. To test if my simulation works, I am applying a small velocity to a single node at the middle of the simulated thread until the node reaches a goal point, which is a small distance away from the node’s rest position. Both ends of the simulated suture are held in place. However, often when I run the simulation, the PyElastica rod’s v

[2021-11-10 04:40] #22 closed

[2021-11-11 19:06] armantekinalp commented on #25
Hi @neelay-j

I would suggest couple of things:

1. You have a stiff rod (E=750MPa) so it is expected that to use lower time-steps. Here I would suggest sometimes tuning `nu` can help.
2. Your boundary condition is changing middle node velocity to move it towards target position. This might be tricky and I think it is not well defined boundary condition. Instead I suggest you to assume a spring be

[2021-12-01 17:08] davenpi opened #27 "Issue with varying radius of filament"
Hi all,

I'm trying to simulate a system where the radius should decrease linearly from the base to the tip of the rod. I can add forces and set the environment without any issues but when I run the integrator I can see that all of the radii are NaNs. There is no failure indicated during integration but on post processing the problem is apparent (screenshot + video below).
<img width="509" alt="va

[2021-12-02 06:08] armantekinalp commented on #27
Hi @davenpi,

It looks like there is numerical instability in your simulation. If you look at the uniform rod simulation you can see the oscillation of the rod elements. Changing the rod to the tapered rod make system more unstable and you get the NaNs after you start running the simulation.

My suggestions are decrease the time-step and increase the nu (dissipation). Also It is not clear from the

[2021-12-03 22:06] davenpi commented on #27
Hi @armantekinalp. I appreciate the response.

I doubled nu, increased the time resolution by a factor of 5, and ramped up the force over the beginning of the simulation, and this is the result.

https://user-images.githubusercontent.com/49379192/144678577-85662450-0243-4c9c-94d3-7a29ac8b1638.mp4

It's very unclear why there is so much oscillation. Regardless, why do you think this instability sho

[2021-12-07 23:42] armantekinalp commented on #27
Instability you are seeing is not related with how code deals with the radius array. Considering you apply same force to the rod; tapering the rod results in decreasing the  elements mass and rigidity, which will allow elements to move more in between integration steps. The straight forward solution might be using very small time-step to resolve this problem. The second approach is to revisit the

[2021-12-13 20:04] davenpi commented on #27
Thanks for the suggestions. Here is a screenshot of the original forcing class I used to produce the issue. I don't see anything obviously wrong but would love to hear your feedback!
<img width="841" alt="tanhforce" src="https://user-images.githubusercontent.com/49379192/145867414-d6b627a5-d1cd-405f-ad96-29bbb0962892.png">

In any case I find that I can produce the same issue with a uniform radius

[2021-12-21 20:04] armantekinalp commented on #27
Hi @davenpi ,

Sorry to get back to you late. Did you able to stabilize your simulations, decreasing the Young's modulus help? To increase damping there is no principled way, I start with smaller value and increase it until it stabilizes.

[2021-12-24 18:38] tp5uiuc opened #28 "Timoshenko example throws an error on the current `master`"
Running the Timoshenko example, from `examples/TimoshenkoBeamCase/timoshenko.py` throws the following error.

[code]

[2021-12-24 18:47] tp5uiuc commented on #28
I'm on the current `master` branch.

If it helps, here's my list of installed packages. Some of them may not be relevant.

[code]
On my side, let me see if a fresh download solves this issue.

[2021-12-24 18:49] tp5uiuc commented on #28
Update: Even a fresh download of the current master of pyelastica doesn't solve the issue.

[2021-12-24 19:02] armantekinalp commented on #28
Please install version 0.1.0.post5

[2021-12-24 19:05] tp5uiuc commented on #28
The issue is fixed, thanks @armantekinalp for pointing it out.

I have `pyelastica-post3` installed system-wide on my computer via `pip`. But the current master version I downloaded from `git` to run the examples is `pyelastica-post5`. For reference, the example files are only accessible in the git repository.
But when I run the examples (even within the git repository), an `import pyelastica` sta

[2021-12-24 19:05] #28 closed

[2021-12-30 19:24] xarthurx opened #29 "Is there a cpp version of this library?"
Hi, I'm developing a research project and found this library.
However, I'm doing mainly cpp and need a lib to be able to integrate it into the current system.

After checking the code, it seems the main lib is written in python?
Or do you have another version that is written in C/C++ elsewhere?

Thank you

[2021-12-30 21:43] tp5uiuc commented on #29
Hey @xarthurx, thanks for the question.

We are currently developing a C++ version of Elastica, but it's not been released to the public yet. We expect a release sometime soon, in a couple of months.

Meanwhile, if you really need a code that simulates Cosserat rods, please have a look at the (older) version of [Elastica here](https://github.com/mattialab/elastica). It's written in C++ and maybe w

[2022-01-03 04:27] nmnaughton opened #30 "New release (v0.2.0) breaks on import"
I updated to the new v0.2.0 and am unable to import elastica. v0.1.0.post5 and before work fine. I have verified this occurs on both mac and linux. It also occurs if I directly use the main branch. Shouldn't CI have caught this?

[code]

[2022-01-03 06:52] skim0119 commented on #30
@nmnaughton Hi -- I cannot reproduce the error.

- Did you install pyelastica using pip? If yes, could you double-check `pip list` that if the new version is installed correctly? Also, check if python and pip belong the same directory.
  - I'm assuming the install is done properly, since 'elastica.memory_block' directory is added in v0.2.
- Are you running the code inside the repository clone? If

[2022-01-03 07:05] armantekinalp commented on #30
Hi @skim0119,

I was able to generate the error. Here are the list of the packages:

[code]

I can only generate the error, If I am not inside a directory which `elastica` is not present as a directory.

[2022-01-03 07:15] skim0119 commented on #30
Okay. The issue is in `pypi`: the zip-file uploaded in `pypi` does not include `reset_functions_for_block_structure` directory. @armantekinalp Could you try to re-package and upload to `pypi`?

[2022-01-03 07:20] skim0119 commented on #30
Its probably because we don't have `__init__.py` in that module. Without that file, It is only registered as namespace.

[2022-01-03 07:51] armantekinalp commented on #30
Hi @nmnaughton ,

Release `0.2.0.post1` fixes the issue, please `pip install pyelastica` .

I am closing this issue.

[2022-01-03 07:51] #30 closed

[2022-01-04 14:14] xarthurx commented on #29
@tp5uiuc  Thank you for the info.
I checked the original version (non-HPC). It seems it is only tested on Mac and Linux.

Though I can make it work in Windows, I would suggest that you provide the library in CMake system that can be easily imported as a cross-platform library.

[2022-01-04 16:34] tp5uiuc commented on #29
Thanks for the suggestion @xarthurx, we will keep that in mind. I am closing the issue, feel free to reopen if you have more questions.

[2022-01-04 16:34] #29 closed

[2022-01-06 12:00] skim0119 opened #31 "Merge `dev_contact_model` to `master`"
<a href="https://github.com/armantekinalp"><img src="https://avatars.githubusercontent.com/u/53585636?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [armantekinalp](https://github.com/armantekinalp)**
_Wednesday Dec 29, 2021 at 01:50 GMT_
_Originally opened as https://github.com/GazzolaLab/elastica-python/issues/110_

----

We need to merge the contact model branch to m

[2022-01-06 12:03] skim0119 opened #32 "Creating container (Docker, etc) for elastica"
**Issue by [nmnaughton](https://github.com/nmnaughton)**
_Friday Mar 20, 2020 at 16:53 GMT_
_Originally opened as https://github.com/GazzolaLab/elastica-python/issues/64_

----

We should look into creating containers for pyelastica. This will allow pyelastica to be run on clusters where users do not have permissions to install packages such a numba.

Options are:
Docker - https://docs.docker.com/

[2022-01-06 12:03] skim0119 commented on #32
<a href="https://github.com/nmnaughton"><img src="https://avatars.githubusercontent.com/u/13985291?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [nmnaughton](https://github.com/nmnaughton)**
_Saturday Oct 03, 2020 at 00:18 GMT_

----

 @kshivvy @armantekinalp

Should we revisit this in light of Keshav's progress? It didn't work on Blue Waters, but his Docker file mig

[2022-01-06 12:10] skim0119 opened #33 "Simulation save/restart module"
<a href="https://github.com/skim0119"><img src="https://avatars.githubusercontent.com/u/3798023?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [skim0119](https://github.com/skim0119)**
_Wednesday Dec 29, 2021 at 05:00 GMT_
_Originally opened as https://github.com/GazzolaLab/elastica-python/issues/111_

----

Partially provide a way to save and load `rod`. We need more r

[2022-01-06 12:10] skim0119 commented on #33
<a href="https://github.com/armantekinalp"><img src="https://avatars.githubusercontent.com/u/53585636?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [armantekinalp](https://github.com/armantekinalp)**
_Thursday Dec 30, 2021 at 05:29 GMT_

----

In future implementation of restart I think we should add these functionalities:

- Current implementation allows only loadin

[2022-01-06 12:10] skim0119 opened #34 "Update CI version for python 3.9 and beyond"
<a href="https://github.com/skim0119"><img src="https://avatars.githubusercontent.com/u/3798023?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [skim0119](https://github.com/skim0119)**
_Thursday Dec 30, 2021 at 21:02 GMT_
_Originally opened as https://github.com/GazzolaLab/elastica-python/issues/114_

----

Additional python versions are out. We should check if the PyEl

[2022-01-06 12:10] skim0119 opened #35 "Current-step passed to callback is determined by floating point division."
<a href="https://github.com/skim0119"><img src="https://avatars.githubusercontent.com/u/3798023?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [skim0119](https://github.com/skim0119)**
_Friday Dec 31, 2021 at 21:31 GMT_
_Originally opened as https://github.com/GazzolaLab/elastica-python/issues/116_

----

https://github.com/GazzolaLab/PyElastica/blob/d5c18c3750fa6468115

[2022-01-06 12:19] skim0119 opened #36 "Pyelastica API changes"
<a href="https://github.com/armantekinalp"><img src="https://avatars.githubusercontent.com/u/53585636?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [armantekinalp](https://github.com/armantekinalp)**
_Monday Apr 13, 2020 at 16:07 GMT_
_Originally opened as https://github.com/GazzolaLab/elastica-python/issues/73_

----

These comments are from @tp5uiuc regarding the API

[2022-01-06 12:19] skim0119 commented on #36
<a href="https://github.com/skim0119"><img src="https://avatars.githubusercontent.com/u/3798023?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [skim0119](https://github.com/skim0119)**
_Monday Dec 27, 2021 at 02:16 GMT_

----

If we are going to refactor these, we should do it as soon as possible. To have a smooth transition, we can keep soft-reference link and have d

[2022-01-06 12:19] skim0119 opened #37 "Interface for Environment and Control"
<a href="https://github.com/skim0119"><img src="https://avatars.githubusercontent.com/u/3798023?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [skim0119](https://github.com/skim0119)**
_Sunday Dec 12, 2021 at 19:05 GMT_
_Originally opened as https://github.com/GazzolaLab/elastica-python/issues/86_

----

From @tp5uiuc

I'm porting only the `Environment` and `Controller`

[2022-01-06 12:19] skim0119 commented on #37
<a href="https://github.com/tp5uiuc"><img src="https://avatars.githubusercontent.com/u/56932502?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [tp5uiuc](https://github.com/tp5uiuc)**
_Sunday Dec 12, 2021 at 19:10 GMT_

----

It would be good if figure out the Controller interface here. For the Environments, you can take a look at Elastica++, we have a collision-detect

[2022-01-06 12:19] skim0119 opened #38 "Reorganizing examples, tutorial, and webpage"
<a href="https://github.com/skim0119"><img src="https://avatars.githubusercontent.com/u/3798023?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [skim0119](https://github.com/skim0119)**
_Tuesday Dec 21, 2021 at 05:54 GMT_
_Originally opened as https://github.com/GazzolaLab/elastica-python/issues/94_

----

We should rearrange where we place information that introduces py

[2022-01-06 12:19] skim0119 opened #39 "Apply torques to elements for localized forces"
<a href="https://github.com/tp5uiuc"><img src="https://avatars.githubusercontent.com/u/56932502?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [tp5uiuc](https://github.com/tp5uiuc)**
_Friday Dec 24, 2021 at 22:36 GMT_
_Originally opened as https://github.com/GazzolaLab/elastica-python/issues/101_

----

Currently, when localized forces (say on one node) are added to `py

[2022-01-06 12:19] skim0119 commented on #39
<a href="https://github.com/bhosale2"><img src="https://avatars.githubusercontent.com/u/33580851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bhosale2](https://github.com/bhosale2)**
_Saturday Dec 25, 2021 at 10:16 GMT_

----

@tp5uiuc to inquire, if the force acts on i^th node, are the torques being added on both i^th and (i+1)^th node? i.e on the the rod elements

[2022-01-06 12:19] skim0119 commented on #39
<a href="https://github.com/skim0119"><img src="https://avatars.githubusercontent.com/u/3798023?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [skim0119](https://github.com/skim0119)**
_Saturday Dec 25, 2021 at 11:19 GMT_

----

Note on some details from @tp5uiuc:
- Parameters:
  -   damping: 500
  -   final time: 100s
  -   final velocity : 1e-6
- Nan with 500 elemen

[2022-01-06 12:19] skim0119 commented on #39
<a href="https://github.com/tp5uiuc"><img src="https://avatars.githubusercontent.com/u/56932502?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [tp5uiuc](https://github.com/tp5uiuc)**
_Saturday Dec 25, 2021 at 17:40 GMT_

----

Thanks @skim0119.
@bhosale2 : yes, that is how it should be done. Since in this case we add a force at the last possible node, only the last el

[2022-01-06 12:20] skim0119 commented on #39
<a href="https://github.com/bhosale2"><img src="https://avatars.githubusercontent.com/u/33580851?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bhosale2](https://github.com/bhosale2)**
_Saturday Dec 25, 2021 at 18:19 GMT_

----

Ok makes sense. But this concept needs to be propagated throughout the plethora of benchmarks or future cases, where a gradient of nodal for

[2022-01-06 12:20] skim0119 commented on #39
<a href="https://github.com/tp5uiuc"><img src="https://avatars.githubusercontent.com/u/56932502?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [tp5uiuc](https://github.com/tp5uiuc)**
_Saturday Dec 25, 2021 at 18:37 GMT_

----

My two cents on the issue.
1) From what I perceive, the out-of-the-box forces provided in `pyelastica`, except for the `EndpointForces` do not

[2022-01-06 12:20] skim0119 commented on #39
<a href="https://github.com/skim0119"><img src="https://avatars.githubusercontent.com/u/3798023?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [skim0119](https://github.com/skim0119)**
_Saturday Dec 25, 2021 at 20:27 GMT_

----

I'm looking at the figure again, and I realized the convergence rate is the same, but the right case is slightly shifted. Quantitatively, add

[2022-01-08 15:35] #16 closed

[2022-01-08 15:36] #25 closed

[2022-01-08 15:37] armantekinalp commented on #27
I am closing this issue, please reopen the issue if your problem is not resolved.

[2022-01-08 15:37] #27 closed

[2022-01-09 04:13] #31 closed

[2022-01-09 20:57] skim0119 commented on #35
I'm working on this issue

[2022-01-12 08:59] skim0119 opened #42 "Experimental features"
Some features are implemented but disabled due to a lack of testing and validation. For example, `AnisotropicFrictionalPlaneRigidBody` is disabled. We should consider enabling the functionality under the module `elastica.experimental` or `elastica.contrib`. In this way, people can tell why the implementation is in the file but not available.

[2022-01-17 21:13] xarthurx opened #43 "Install failure on Windows"
**Describe the bug**
When install the package on Windows, the installation failed by providing the info:
[code]

**To Reproduce**
[code]

**Environment**
- Python/pip: 3.9/21.3.1
- OS, Device: Windows

**Expected behavior**
package successfully installed.

**Additional context**
It seems the installation requires a `Visual Studio 15 2017` compiler.
Since `VS 2022` has been released already, it wou

[2022-01-17 21:21] xarthurx commented on #29
@tp5uiuc  I'm currently developing a project that would need a simulator like this.
Would it be possible to have early access to the new version and contribute to it as well?
I've developed several projects for published CG papers, and am quite familiar with cpp.

(Asking because I don't want to integrate the old one just a few months before your new release...)

[2022-01-18 03:22] skim0119 commented on #43
Hello @xarthurx
Thank you for addressing the issue.

I was able to replicate the same error on `Windows 10` with `Python 3.9`, when I did `pip install pyelastica`.

The current version of PyElastica does not support `Python 3.9`, because we are not sure if `llvmlite` (dependency for `numba`) supports `Python 3.9` yet. I successfully installed the package with `Python 3.8` on my machine. Could you

[2022-01-18 06:48] tp5uiuc commented on #29
@xarthurx Let me get back to you on that. I would be happy to share it immediately if I was the only stakeholder. But I need to consult with my advisor first. Hope you understand :)

[2022-01-18 15:32] skim0119 commented on #34
Numba doesn't support python 3.9 in some OS. #43

[2022-01-18 15:32] #34 closed

[2022-01-18 15:46] xarthurx commented on #43
Confirmed.
python 3.8 works.

Thank you for the info.

[2022-01-22 20:55] bhosale2 opened #45 "Inconsistent Numpy dependency version for Numba"
**Problem description**
Currently, the `requirements.txt` in PyElastica states the required version of `numpy` as `>=1.19.2` and `numba` as `==0.51.0`. However this seems to be inconsistent with `numba` [release notes](https://github.com/numba/numba/releases), which state that even the latest version of `numba` i.e. 0.55.0  doesnt support `numpy` latest release 1.22.1 and only has support till `nu

[2022-01-22 21:45] skim0119 commented on #45
If I remember correctly, there was a reason for fixing `numba version` to be 0.51.0. They moved `jitclass` into the experimental module, and we had some bug in the code. If we want to bump-up the version, we should check the codebase where we use `jitclass`.

I'm going to put this in `0.2.1` milestone. I think it should be easy fix.

[2022-01-22 22:52] bhosale2 commented on #45
@skim0119 I just ran a search for `jitclass` across all files in PyElastica using `grep -R 'jitclass' .` and it yielded no matches, for both the branches present. Let me know if it checks out.

[2022-01-22 23:14] skim0119 commented on #45
@bhosale2 Looks like it was in `_elastica_numba/_timestepper/_explicit_steppers` and `_elasstica_numba/_timestepper/_symplectic_steppers` in version `0.1.0.post1`. I don't see any trace after `0.1.0.post2`.

- We can change numba support to be `numba>=0.51.0`.
- I'm questioning if we need to put upper bound on `numpy` version. Pip should automatically handle numpy version that is compatible to num

[2022-01-23 00:28] bhosale2 commented on #45
- Yes, when installed simultaneously using `requirements.txt`, `numba` takes care of the `numpy` dependency version as mentioned in the initial issue description.
- However, I suggest adding the upper bound in the case when say the user installs another package that upgrades `numpy` in the same environment (happened in my case), which would then eventually lead to errors due to dependency mismatch

[2022-01-23 00:40] skim0119 commented on #17
I’m closing this issue because it has been inactive for more than 6 months.

@Abdelrahman-Alkhodary You are welcome to reopen and contact us if you would like to try out PyElastica.

Thank you!

[2022-01-23 00:40] #17 closed

[2022-01-23 01:06] skim0119 commented on #45
I understand the issue, but I'm still not sure if we need to inform the dependency limitation that is not ours.

@bhosale2 Can you specify which package you used? If I understand pip correctly, installing numba (after installing an upper version of NumPy) should automatically downgrade NumPy to the compatible version. The error should happen when you force NumPy to upgrade.

My point is the error

[2022-01-23 12:35] bhosale2 commented on #45
I see I agree with all of the above and if `numba` will catch up in a few weeks, then we don't need to worry about putting an upper bound on `numpy`. I guess so we can close this issue after `numba` is bumped up as you mentioned.

[2022-01-24 23:53] #42 closed

[2022-01-24 23:53] #35 closed

[2022-01-25 08:18] skim0119 commented on #45
The `numba` version is updated in 5c31cfc0ad9e50fd2b0e05b926aa0d34644ff929 and 9bcfd0f050f3ce8fbd5995b65827397693e27544.

[2022-01-25 08:18] #45 closed

[2022-02-02 13:50] xarthurx commented on #29
@tp5uiuc  Any update on this?

[2022-02-02 22:12] tp5uiuc commented on #29
Hey @xarthurx, thanks for waiting. We are finishing up the package now (it's not entirely done), and I estimate it to take some time between 5-7 weeks. My advisor first wants to see a pre-print from our side before releasing the package, so I don't have full autonomy on the package release. So, if possible, can you please wait for the time mentioned? Thanks for understanding :)

[2022-02-02 23:38] xarthurx commented on #29
OK, then I may start to use the old one first…
Thanks for the update.
On 2 Feb 2022, 23:13 +0100, Tejaswin Parthasarathy ***@***.***>, wrote:

[2022-02-07 05:04] skim0119 opened #52 "Recommonmark is deprecated: We should switch to MyST"
## Context
We are currently using `sphinx` and `ReadtheDocs` to keep our documentation clean and organized. Natively, `sphinx` uses `reStructuredText` (or .rst extension), and the module `recommonmark` has been used to parse `markdown` format. I ​recently found that the module `recommonmark` is no longer maintained, and the developer (and community) shifted to `MyST` parser.

##  Suggestion
I don'

[2022-02-07 05:13] skim0119 commented on #52
Working on my [local branch](https://github.com/skim0119/PyElastica/tree/docs_myst).

I'm going to run few test and make sure documentations are properly generated, and merge to `doc_patch` branch.

[2022-02-07 15:57] nmnaughton commented on #52
Just so I am clear, with this patch we would need to convert all the *.rst files to *.md? (It looks like we can do that automatically.) I think having all of the docs page in markdown would work better anyway, so this seems like a  worthwile patch to push through.

[2022-02-07 17:21] skim0119 commented on #52
@nmnaughton We can still use rst. We don't need to convert.

[2022-02-07 19:20] #52 closed

[2022-02-08 01:07] nmnaughton commented on #36
I am looking to address the BC issue in #54. Some other thoughts:

- I agree that there is a better option than `wrappers`. I don't know if addons or features are the best terminologies though. Maybe  'functionalities'? (I don't really like that either though). tbd...
- I like changing callback to something else too. What about `logging`? For non-programmers, that might be a bit more intuitive. Al

[2022-02-08 13:49] nmnaughton commented on #36
- I like `Simulator` and `Component`! The idea that you need to add the needed components to your simulator should be pretty intuitive to users.
- Good point about the callback concept. I do think maybe a default 'logging' callback could be useful for users who just want to get that functionality quickly, but you are right, we should allow those other extensions without limiting things. Maybe have

[2022-02-10 01:15] skim0119 opened #55 "[Dev Note] Boundary condition issues."
## Boundary condition model

Follow from #54. We are going to patch some patches to the current boundary condition implementation.

- [x] Enable boundary condition to be available at any specified node.
- [x] Expose system in each wrapper
- [x] Refactor names #36

[2022-02-10 07:17] skim0119 commented on #36
I refactored the class `OneEndFixedRod` to `OneEndFixedBC` in `wip_constraint` branch. I left a deprecation warning message and alias. The alias will be removed in v0.3.0

[2022-02-12 04:22] #55 closed

[2022-02-16 14:27] #39 closed

[2022-03-02 10:21] MehtaMeet54 commented on #12
Hi @armantekinalp ,
I tried to create a pre-curved rod but am facing issues with the director array. It is coming up as a zero 3rd order vector instead of what I am providing as input for the directors while creating the rod model. The position array of the rod is as desired, and it is just the director array that is inconsistent.
How can I fix this?

[2022-03-02 15:25] armantekinalp commented on #12
Hi @MehtaMeet54 ,

Can you please provide the version of PyElastica you are using and also how you are initializing the rod?

[2022-03-04 11:34] MehtaMeet54 commented on #12
VERSION = "0.1.0.post2"
Code:
[code]

[2022-03-04 12:33] skim0119 commented on #12
@MehtaMeet54 Hi

Thank you for providing the code.

There was a bug in initializing rod with custom directors. The bug is fixed in the version `0.1.0.post3` with 8af5172f557a0fbce26d759c5ae574041ead7631. Please test your code with updated pyelastica `pip install --upgrade pyelastica`. I tested on both version `0.2.1` and `0.1.0.post3`.

### Code I tested
<details>
<summary>Click to expand</summary

[2022-03-07 15:15] woshizh951 opened #66 "Visualization bug of lacking Povray"
**Describe the bug**
I want to run the example of snake visualization, the scripting process is running correctly.
However, when the rendering process begin, Some error occured.
File "G:\study\pyelastica\PyElastica-master\examples\Visualization\ContinuumSnakeVisualization\_povmacros.py", line 138, in render
    + stderr.decode("ascii",'ignore')
OSError: POVRay rendering failed with the following e

[2022-03-07 17:11] skim0119 commented on #66
Hi @woshizh951

It appears to me that _POVray does not provide CLI_ for `Windows 10` (https://github.com/POV-Ray/povray/issues/227). The script above assumes POVray available on CLI, which is why you are getting an error.

**Suggestion**
1. Remove any `.pov` file created: remove `frames/diag` or `frames/top` directory.
2. Modify https://github.com/GazzolaLab/PyElastica/blob/dd1bff433e7789914939e11

[2022-03-07 19:26] skim0119 opened #67 "Release 0.2.2 Checklist"
# Release Checklist

- [x] Update RELEASE.md - It should be in based on milestone description.
- [x] Commit the changes:
[code]
- [x] Final check `README` and `CONTRIBUTING`.
- [x] Bump LICENSE year
- [x] Bump version

### Test
- [x] Run the tests
- [x] Run the formatting
- [x] CI Check
[code]

### Setup.py
- [x] Update version number in setup.py (or version.py) (can also be minor or major)
- [x]

[2022-03-09 01:45] brlrb opened #68 "#GSoC Project 5: Debugger/logger of simulation instabilities"
Hi PyElastica Team,

I am interested in GSoC 2022 and specifically `Project 5: Debugger/logger of simulation instabilities`.

I want to clarify a few things:
- is the task to create a logger which binds to the simulation?
- should the crash/unstable log be a textfile or based on HTML UI

Thank you! I am looking forward to what I can contribute.

[2022-03-09 21:06] nmnaughton commented on #68
Hi @brlrb, thanks for your interest in the project!

1. We have some logging/callback capabilities already implemented that it would be nice to incorporate to avoid duplicated code. I think we are envisioning a logging subroutine that can be enabled by the user to track down instabilities as opposed to something the binds or wraps the simulation, however, we are flexible on this.
2. I think it wou

[2022-03-10 08:25] #67 closed

[2022-03-10 13:57] skim0119 commented on #66
I am closing this issue. @woshizh951 Please feel free to reopen this issue or create a new one if you have further questions.

[2022-03-10 13:57] #66 closed

[2022-03-12 12:24] woshizh951 commented on #66
Thank you so much, i can render the simulation through you tutorial now.

[2022-04-19 17:06] Rushour0 opened #73 "GSoC 2022 - Project 4: Saving and restart framework for simulations"
Hi PyElastica Team,
I am interested in applying for the GSoC 2022. The topic that interests me the most is ```Project 4: Saving and restart framework for simulations```.
I have seen how the jupyter notebook checkpoints work and have been interested in working towards a project such as this. I have a particularly strong will to learn and been a fast learner because of it.

I look forward to work fo

[2022-04-19 17:09] Rushour0 opened #74 "Google Summer of Code 2022 - Project 4: Saving and restart framework for simulations"
Hi PyElastica Team,
I am interested in applying for the GSoC 2022. The topic that interests me the most is ```Project 4: Saving and restart framework for simulations```.
I have seen how the jupyter notebook checkpoints work and have been interested in working towards a project such as this. I have a particularly strong will to learn and been a fast learner because of it.

I look forward to work fo

[2022-04-19 17:10] #73 closed

[2022-04-28 03:10] skim0119 opened #77 "Pre-commit"
**Is your feature request related to a problem? Please describe.**
We should consider adding `pre-commit` configuration script, including `black`, `flake8`, and `mypy`. It also provide some out-of-the-box features that are useful. I think they are easy to use/install, and will reduce the number of _formatting_ commits.

[pre-commit](https://pre-commit.com/)

[2022-04-28 17:32] nmnaughton commented on #74
GSoC submissions are now closed. We did not receive a proposal for this project.

[2022-04-28 17:32] #74 closed

[2022-04-28 17:32] nmnaughton commented on #68
GSoC submissions are now closed. We did not receive a proposal for this project.

[2022-04-28 17:32] #68 closed

[2022-05-05 21:42] armantekinalp opened #78 "Typo in `compute_shear_energy` method of Cosserat Rod."
Although the code to compute shear energy function is correct, naming of one of the variables is wrong. `shear_internal_torques` is not correct and misleading, we should call this variable as `shear_internal_forces` .

https://github.com/GazzolaLab/PyElastica/blob/fee87b9da22e310ff925c16fdc839bf8405c51a4/elastica/rod/cosserat_rod.py#L516

[2022-05-11 14:38] armantekinalp opened #79 "Increase significant digits of shear coefficient"
Shear coefficient for circular cross-section can be computed as `27/28` using the formula given in Kandro 1975 Figure 2 Correlation A.

https://github.com/GazzolaLab/PyElastica/blob/fee87b9da22e310ff925c16fdc839bf8405c51a4/elastica/rod/factory_function.py#L221-L222

 **How to fix**: change shear coefficient as `27./28.` .

[2022-05-11 15:11] armantekinalp opened #80 "Converting nodal velocities to element velocities"
In PyElastica we store `velocity` on nodes and for some computations (i.e. rod damping, plane damping or stokes flow) we have to convert `velocity` from `nodes` to `elements`. Currently we are averaging the neigboring node velocity to compute element velocity using the following function.

https://github.com/GazzolaLab/PyElastica/blob/fee87b9da22e310ff925c16fdc839bf8405c51a4/elastica/interaction.p

[2022-05-11 15:39] armantekinalp opened #81 "Dissipation constant should be scaled with mass instead of lengths"
**Describe the bug**
In Elastica `dissipation constant (nu)` is defined as per unit length  and its unit is `kg/(m.s)`. However, this assumes that rods are uniform. However, in the case of tapered rods `dissipation constant` should also be scaled with the area. Otherwise for two elements that have same velocity but different mass we apply same dissipation force.

**How to fix**
1. Define the dissi

[2022-05-12 14:49] bhosale2 commented on #79
Closed via #82.

[2022-05-12 14:49] #79 closed, assigned to bhosale2

[2022-05-12 17:44] bhosale2 commented on #81
Hi @armantekinalp some suggestions based on changes in `elasticapp`.

1. The name of the parameter must first be changed to `damping_rate` owing to its nature and units `1/s`.
2.  Instead of multiplying in `allocate` by mass, we should set it as it is there, and for `velocity` and `omega` multiply by `mass` and `J / e` for `omega` when computing damping forces.
3. A note should be made in the exam

[2022-05-13 20:25] skim0119 opened #83 "Release 0.2.3 Checklist"
# Release Checklist

- [x] Update RELEASE.md - It should be in based on milestone description.
- [x] Commit the changes:
[code]
- [x] Final check `README` and `CONTRIBUTING`.
- [x] Bump LICENSE year
- [x] Bump version

### Test
- [x] Run the tests
- [x] Run the formatting
- [x] CI Check
[code]

### Setup.py
- [x] Update version number in setup.py (or version.py) (can also be minor or major)
- [x]

[2022-05-16 02:32] armantekinalp opened #85 "Update version number in setup.py (or version.py) (can also be minor or major)"

[2022-05-17 05:46] #78 closed

[2022-05-17 18:40] armantekinalp opened #90 "Dependency between memory block and CosseratRod should be revisited."
**Note**

Currently, ghost indices are defined in memory block but used by CosseratRod. Circular dependency should be resolved.

[2022-05-18 14:34] woshizh951 opened #91 "How to simulate the gravity of cable being applied forces?"
Hi PyElasitica teams,

I want to simulate the process of cable operation. I set one end of the cable fixed, applied an upward force in the middle of the cable, and applied gravity to the whole cable.
![image](https://user-images.githubusercontent.com/19282086/169066594-9f1fa82d-51fe-40cc-bb52-3de2d48cf5be.png)

The unfixed end of the real cable will sag naturally under the influence of gravity, as

[2022-05-18 14:43] woshizh951 commented on #91
[code]

Could you please kindly give me some advices to simulate the influence of gravity to the cable corrcetly?

Best Regards.

[2022-05-18 15:25] nmnaughton commented on #91
Hi @woshizh951,

It looks like you are operating in grams/mm/sec units? Then I think you need to rescale your gravitational force. You have gravitational_acc = -9.80665, but in g/mm/s I think it should be scaled by 1e6. That would probably explain the issue then as your gravity is essentially not there so elasticity is dominating.

[2022-05-19 03:57] #83 closed

[2022-05-19 07:16] skim0119 commented on #91
@woshizh951 Hi

I see you defined the custom force `MoveMidPointByApplyingForces`. When you define `apply_forces` method, you can use `time` parameter to custom define the force during the simulation.

[code]

In my experience, giving sudden changes in force can be unstable, so I would recommend using a smooth transition of force.

Let me know if you have any question.

[2022-05-19 12:14] nmnaughton commented on #91
@woshizh951  One other quick comment. Regarding the stability when you properly scale gravity, you might want to check your material properties. I noticed you have E = 7.5e3 Pa. That is very low. Are you sure that is the value you want? I messed around with your code sample and found E = 7.5e6 Pa along with a dt 10x smaller was stable for a proper gravity value (note that I also scaled the k value

[2022-05-19 12:45] woshizh951 commented on #91
@nmnaughton
Hi,
Thanks for your comment.
I'm trying to simualte the process of manipulation normal cable such as network cable, the parameters was initialized from another examples. I would modify the E and k follow you advices.  And i will adjust the physical parameters follow a tested cable in one paper.
![image](https://user-images.githubusercontent.com/19282086/169295181-05a1e0ea-7dc2-4329-938

[2022-05-19 14:00] armantekinalp commented on #91
Hi @woshizh951

You can set `stretching Young's modulus` and `shear modulus` while initializing the rod, as you can see from the below code snippet. But we don't have functionality to set `Bending Young's` modulus separately. However you can modify `bend_matrix` after initializing the rod. For example.

[code]

[2022-05-20 05:58] bhosale2 opened #95 "Missing imports at the top of example files"
**Describe the bug**
A number of example files on the latest `master` (`flexible_swinging_pendulum.py `,  `continuum_snake.py`, ...) seem to be having critical imports (like `numpy` or `os`) missing or commented out at the top of the file. This leads to the `NameError` being thrown on attempting to run these examples.

**Screenshots**
https://github.com/GazzolaLab/PyElastica/blob/35d492a57371d59d7

[2022-05-21 07:33] woshizh951 commented on #91
Hi @armantekinalp,

Thank you.
I have tested the bend matrix and ensured that it worked.
However, when I set the parameter of straight_rod like your example,
an error occurred and said the youngs module is missing.
So I just set the parameter like this:
[code]
As I know, the basic definition of young's module is the same as the stretching young's module, so the way I set is also right?

[2022-05-21 14:30] armantekinalp commented on #91
Hi @woshizh951

Yes how you set the rod is correct.

If you don't have any other questions I will close the issue.

[2022-05-21 15:18] woshizh951 commented on #91
Hi @armantekinalp

I have no question right now.
Thanks to all members of Pyelastic team help to me with patience.

Best regrads,

[2022-05-21 16:01] skim0119 commented on #91
I'm closing the issue. @woshizh951 Feel free to make another issue if you have any other question.

[2022-05-21 16:01] #91 closed

[2022-05-21 16:02] #95 closed

[2022-06-01 03:01] bhosale2 commented on #81
Closed by #87.

[2022-06-01 03:01] #81 closed

[2022-06-01 06:15] armantekinalp opened #99 "Unit tests for contact module"
**Is your feature request related to a problem? Please describe.**
Although we have tested contact module through different simulations, there is no unit tests for contact module. This can cause vulnerability in development process as well as reduces code coverage.

**Describe the solution you'd like**
Implement unit tests for contact module.

[2022-06-01 22:19] bhosale2 opened #101 "Setup pyproject (poetry)"
For convenient package management, following `MiV-OS`, we should consider moving from `setup.py` to `poetry` i.e. `pyproject.toml` file setup.

[2022-06-01 22:21] bhosale2 opened #102 "CODEOWNERS setup"
For automatic targeted reviewer requests, we should consider having a `CODEOWNERS` file like `https://github.com/tp5uiuc/elasticapp/blob/master/docs/CODEOWNERS`.

[2022-06-01 22:22] #80 closed

[2022-06-01 22:45] armantekinalp opened #103 "Refactor `EndpointForcesSinusoidal` used by joint examples"
We can move `EndpointForcesSinusoidal` inside the `elastica.external_forces` since there are test cases already defined for this class.

https://github.com/GazzolaLab/PyElastica/blob/9e461aa061101fe94af245bc9219730e30b4a9d7/examples/JointCases/external_force_class_for_joint_test.py#L6

[2022-06-02 14:17] #11 closed

[2022-06-02 15:42] skim0119 commented on #102
I like the idea, but do you think our team is big enough that we need this? We only have 3 active maintainers, and practically we get 1~2 external issues per month.

[2022-06-05 20:07] itiwari93 opened #105 "Simulating dynamics of a pre curved rod straightening out"
Hello PyElastica team,
I have a problem that I am trying to simulate using PyElastica. I am trying to simulate the dynamics of a pre-curved rod opening-up. But I am currently struggling with the stability of the solution, as it keeps blowing up to NaN values.  I pre-curved the rod using the instructions in issue#12 of this project. I intentionally did not change the resting curvature of the rod to

[2022-06-06 20:34] Jarvis-X opened #106 "Ramp up time default to 0.0 for EndpointForces"
**Describe the bug**
It should be a quick fix: the default value of `ramp_up_time=0.0` causes divided-by-zero error when initializing.

**To Reproduce**
[code]
[code]

**Environment**
- Python/pip version 21.1.3
- Numpy/numba version 0.51.2
- PyElastica version 0.2.3
- OS, Device Google Colab

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If

[2022-06-07 03:49] skim0119 commented on #106
@Jarvis-X Thank you for pointing it out. We'll include the change in the next version `v0.2.4`.

[2022-06-07 03:54] skim0119 commented on #77
This should be covered as part of #101. Closing this one.

[2022-06-07 03:54] #77 closed

[2022-06-07 04:58] armantekinalp commented on #105
Hi @itiwari93

I ran your code, and I think your problem is too stiff and `nu` might be too large. Do you use values from literature?  In any case I am attaching some values and you can use and start tuning them for your problem.

[code]

If you need to deal with rod's that have `E=1E12`, then one other suggestion is the following. You can set pre-curved condition as the `rest_kappa` and `rest_sig

[2022-06-07 05:23] itiwari93 commented on #105
Thank you for your answer @armantekinalp . I took these values from some literature about metal rods. I will definitely try creating the `ExternalForce` class to make the rod straighten up at a small enough timescale so that I am able to study some qualitative dynamics without breaking the simulation. I also tried rescaling the time and increasing `nu` to large values, but that does not help beyon

[2022-06-08 09:32] skim0119 commented on #106
The update is included in the `update-0.2.4` branch (a511e49)

[2022-06-10 09:43] matei1996 opened #107 "Adding Interaction plane to slithering snake example"
Dear PyElastica Team,

I am currently trying to add an Interaction plane (or any arbitrary obstacle) to the slithering snake example, so that the snake "bounces of" the plane and continues to move into a different direction. However, I wasn't able to find out the correct way to do it. I tried adding the following code into the example

side_plane = np.array([0.0, 0.0, 3.0])
side_normal = np.array(

[2022-06-10 16:38] tp5uiuc opened #108 "Missing numpy import in collision examples"
**Describe the bug**
Attempting to run the collision examples hosted [here](https://github.com/GazzolaLab/PyElastica/tree/master/examples/RodContactCase) returns an error that `np` is not defined. Seems like `numpy` is not imported.

**To Reproduce**
[code]

**Environment**
Environment independent.

**Expected behavior**
No bug when running the examples.

[2022-06-12 01:39] #108 closed

[2022-06-12 01:41] armantekinalp commented on #107
Hi @matei1996

You cannot add  `InteractionPlane` class to the `simulator` since it is parent class of `AnisotropicFrictionalPlane`. Because of that you don't see any difference in your simulation with/without `InteractionPlane`.

If you want to add obstacles, you can add rigid cylinders and set contact between rod and cylinders. [Here](https://github.com/GazzolaLab/PyElastica/tree/update-0.2.4/ex

[2022-06-12 20:26] bhosale2 opened #111 "A minimal dynamic validation case for PyElastica"
We need a minimal, dynamic validation case for PyElastica, to make validation of the solver against physical problems more rigorous. An example of this could be an oscillating Bernoulli/Timoshenko beam, with reference analytical solutions.

[2022-06-12 21:16] armantekinalp commented on #111
@tp5uiuc  suggested this [dynamic validation case](https://journals.sagepub.com/doi/10.1177/0278364919842269). I am dropping the link here for our reference.

[2022-06-14 07:41] matei1996 commented on #107
Hi @armantekinalp

Thanks a lot. Yes this helps me for now. Is it also possible to use something else than a cylinder as obstacle? I would like to into interaction with a plane or letting the rod start inside the cylinder.

Best regards,
Matei

[2022-06-14 13:59] armantekinalp commented on #107
No, currently we only support contact between rod-cylinder and rod with flat plane (AnisotropicFrictionalPlane). However, you can extend the contact and interaction classes based on your problem requirements.

[2022-06-14 21:07] bhosale2 opened #112 "Factor out internal dissipation as external addon dissipation module"
**Is your feature request related to a problem? Please describe.**
Currently, the internal dissipation used to stabilize PyElastica simulations is a part of the Cosserat rod governing equations. This leads to the following 2 issues:
1. In over/critically damped cases, this can lead to a severe limitation on the timestep size, slowing down simulations.
2. Does not allow for a cleaner way to simulat

[2022-06-16 06:28] matei1996 commented on #107
Ok, thank you! One other question. Is it possible to integrate multiple cylinders? Through my first attempts it seems to be the case. However, I still have problems with the plot_cylinder_rod_position, since it only takes as argument cylinder_history of 1 cylinder. I tried using further "plot_cylinder_rod_position" functions with different cylinders but that didn't work as intended. Can I use only

[2022-06-16 15:52] bhosale2 opened #113 "Separate joint module into separate connections and collision"
Currently, the implementation for connections and collision lies in `joint.py` which is a rather non-intuitive name for its contents. A more intuitive name could be `connections_and_collision.py`? @armantekinalp and @skim0119 suggestions?

[2022-06-17 14:19] #103 closed

[2022-06-17 14:22] skim0119 commented on #113
I think `collision` should be separated. I agree that `connection could be more general name.

[2022-06-18 16:21] bhosale2 commented on #113
Ok, then the consensus on this is:
1. Rename `joint.py` to `connections.py`
2. Move out collision classes into a separate `collision.py`

[2022-06-18 16:23] armantekinalp commented on #113
Yes, I think it is a good idea

[2022-06-18 18:27] itiwari93 commented on #105
Hi @armantekinalp,
Thank you for your suggestion last time.
I tried the following protocol, stored the `bend_matrix` and `shear_matrix` of the Cosserat rod in a separate variable, then put
the actual `shearable_rod.bend_matrix = 0` and `shearable_rod.shear_matrix = 0`. The idea was to slowly increase both these
matrices to their true value while the simulation ran. Unfortunately, I was unable to c

[2022-06-21 09:21] matei1996 commented on #107
Hi again,

I am also trying to rotate the cylinder by the changing the normal and the directional vector, however it does not seem work. Do you have any idea why this might be the case? If I should open a new issue please let me know. I am unsure...

Best regards,
Matei

[2022-06-21 14:38] armantekinalp commented on #105
Hi @itiwari93 ,

Why did you set `shearable_rod.bend_matrix=0` and `shearable_rod.shear_matrix=0`  after initializing the rod? There are two issues for this assignment.

1.  `bend_matrix` and `shear_matrix` are arrays when you do the above operation you convert them to floats which breaks a lot of references at the backhand. If you really want to set them to `zero` do in-place operation `shearable

[2022-06-21 14:40] armantekinalp commented on #107
You need to define `callback` functions for all cylinders that are `append` to the simulation, so you can record their time history. For plotting you need to update the plotting scripts.

[2022-06-21 17:22] itiwari93 commented on #105
Hi @armantekinalp,

I apologise for the confusing phrasing of my last message. When I said that I had put `shear_matrix` and `bend_matrix` to zero, I meant I had put them elementwise to zero.  To be honest, I initially struggled to change the `rest_kappa` using the `External_force` method, therefore I shifted to the approach of changing `bend_matrix` instead of `rest_kappa`.
The physical reasoning

[2022-06-22 14:23] matei1996 commented on #107
Thanks. I was able to plot multiple rods now.

Regarding the position of the cylinder: Right not I am only trying to change the direction and normal of the rod at initialization. However, this does not work yet as intended. The cylinders do not change compared to the original position in the example.
(https://github.com/GazzolaLab/PyElastica/issues/107#:~:text=rod%20and%20cylinders.-,Here,-you%20c

[2022-06-22 23:12] armantekinalp commented on #107
Can you share me how you initialize the cylinder? Cylinder should rotate but the plotting might have issues.

Do you have any videos or some plots? I am currently working on improving the rod-cylinder contact model and there should be a PR soon. Maybe that can fix the problem you have.

[2022-06-22 23:17] armantekinalp opened #116 "Rigid body - rod contact torque"
**Describe the bug**
Contact module between rigid body and rod does not incorporate torques generated due to contact.

**Expected behavior**
For all cases that rod and rigid body are not parallel, rigid body should start rotating after contact.

[2022-06-23 07:30] matei1996 commented on #107
To initialize the cylinder i use the same code that is used in the example you mentioned above. (https://github.com/GazzolaLab/PyElastica/issues/107#:~:text=rod%20and%20cylinders.-,Here,-you%20can%20see)

I initialize it using

cylinder_start = np.array([0.3, 0.0, 0.0])
cylinder_direction = np.array([0.0, 1.0, 0.0])
cylinder_normal = np.array([0.0, 0.0, 1.0])
cylinder_height = 0.9
cylinder_radius

[2022-06-24 17:08] bhosale2 commented on #102
Resolved by #115.

[2022-06-24 17:08] #102 closed

[2022-06-26 13:43] bhosale2 commented on #112
Closed via #114.

[2022-06-26 13:43] #112 closed

[2022-06-27 00:07] bhosale2 opened #118 "Revisit timestep limits for example cases after damping module change (#114)"
After the damping add-on module integration in #114, the example cases need to be revisited, to check if larger stable timesteps can be taken, and with lower values of damping constant.

[2022-06-27 00:13] bhosale2 opened #119 "Filter Damping addition to the damping module"
The Filter Damping method (adapted from [here](https://aip.scitation.org/doi/full/10.1063/1.2728935?casa_token=9v62oae0XN0AAAAA%3AhfV-OcYFBb_uB6cE0yBfsdf9HMIem1vZ0JJVhoJT-WNgxoM5jPXAPfqctpkn3aXP5wN75sVnHLFw)), which basically damps velocities similar to a low pass filter, has shown advantages (reduced noise, oscillations, and larger stable timesteps) in complex scenarios involving Cosserat rods, a

[2022-06-27 12:59] matei1996 commented on #107
Hi, I have one more different question. I don't know if I should open a new request. If yes please let me know.

We are trying right now to model a long rod that enters an environment(like the above one with multiple cylinders) through some narrow entry. So we would like to have some boundary conditions at the entrance, for example at the point (0,0), where the rod is fixed and can not change. Is

[2022-06-28 03:19] armantekinalp commented on #107
It seems there is an issue in plotting script and not the initialization of cylinder.  You can check the tangent of cylinder as printing out the `cylinder.director_collection[2,:,0]`  and it should be different if you change ` cylinder_direction`.

[2022-06-28 03:26] armantekinalp commented on #107
It seems you have a numerical problem.  Have you tried the contact with smaller contact constant?

[2022-06-28 03:32] armantekinalp commented on #107
We don't have a boundary condition exactly for your needs so you need to write your own custom boundary condition class. I think [HelicalBucklingBC](https://github.com/GazzolaLab/PyElastica/blob/master/elastica/boundary_conditions.py#L435) is a good example for you to start. This BC class slowly rotates the ends of the rods and pulls it  by changing the angular and translational velocity. So there

[2022-07-01 20:10] bhosale2 commented on #105
Closing this since resolved.

[2022-07-01 20:10] #105 closed

[2022-07-01 21:28] armantekinalp opened #121 "Rigid Body - Rod contact friction"
**Is your feature request related to a problem? Please describe.**
We need to add a friction model between rod and cylinder that are in contact. Currently there is only contact force between the two object.

**Describe the solution you'd like**
Rod and cylinder should not slip pass each other for large friction coefficients.

[2022-07-02 11:15] mstoelzle opened #122 "Joint between Rod and RigidBody"
**Describe the bug**
According to the [documentation](https://docs.cosseratrods.org/en/latest/api/connections.html#elastica.joint.FixedJoint), a numerous number of joints (and particularly the FixedJoint) should have compatibility for connecting a CosseratRod and a RigidBody (for example a Cylinder). However in practice, there are some bugs when trying to use this feature:

Error message for call

[2022-07-03 20:10] bhosale2 commented on #116
Closed by #117.

[2022-07-03 20:10] #116 closed

[2022-07-04 03:11] armantekinalp commented on #122
Hi @mstoelzle

Thanks for reporting the bug. Fixed joint can only connect two rods, not rigid body and a rod. So documentation was misleading and I will correct that.

However, you can still write your joint class to connect rigid body and rod. The Joint class you need to write is similar to the fixed joint. First you need to compute the tip position of rigid body to find the connection point of r

[2022-07-04 13:16] skim0119 opened #127 "Fix bug in checking of path for ExportCallback"
<a href="https://github.com/mstoelzle"><img src="https://avatars.githubusercontent.com/u/2360366?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mstoelzle](https://github.com/mstoelzle)**
_Originally opened as https://github.com/GazzolaLab/PyElastica/pull/126_

----

If any path not equal to a directory is specified, the current implementation throws an error that the e

[2022-07-04 13:22] skim0119 commented on #127
## Note

- [ ] Test case for `npz` and `pickle`
- [ ] Fix the difference in behavior for `tempfiles` module
- [ ] Have separate `filename` and `directory`. Create directory if doesn't exist.
- [ ] Add warning if overwritten.
- [ ] Change `save_every` parameter name, and clarify docstring.

[2022-07-04 14:27] mstoelzle opened #128 "Bug for asynchronous specs of skip_step and save_every in ExportCallBack"
**Describe the bug**
If `save_every` is not a multiple of `step_skip`, the condition `(current_step + 1) % self.save_every == 0` (https://github.com/GazzolaLab/PyElastica/blob/master/elastica/callback_functions.py#L205) will never be trigged and the data will never be saved, if the condition about the buffer size does not become active neither.

**To Reproduce**
This code snippet below has a time-

[2022-07-04 22:25] bhosale2 commented on #121
closed by #124.

[2022-07-04 22:25] #121 closed

[2022-07-05 10:18] IasonManolas commented on #29
Hi are there any updates regarding the c++ release of the library?

[2022-07-05 18:46] #119 closed

[2022-07-06 03:31] #118 closed

[2022-07-06 07:37] mstoelzle opened #129 "Missing documentation on the use of Numba"
**Describe the bug**
I was wondering whether the numba jit compilation is active by default or if I need to activate it manually somewhere.
I am not sure if I missed this information somewhere. If yes, please excuse me and close this issue.  Otherwise, it might be useful to add this information somewhere in the documentation.

[2022-07-06 08:04] mstoelzle commented on #122
@armantekinalp Ok, thank you for the hints on how to start implementing this feature. I was thinking of adding a third, rigid link (e.g. a cylinder) to the `examples/JointCases` to show-off how to use the joints to connect rods and rigid bodies together. Are you fine with this strategy or would you prefer something else?

[2022-07-06 14:14] armantekinalp commented on #122
@mstoelzle it sounds good. After adding it please create a PR and we can go from there.

[2022-07-06 14:16] armantekinalp commented on #129
Numba  is  a requirement of PyElastica and it is automatically activated. Thank you for the suggestion we can add this information in the documentation.

[2022-07-06 18:16] skim0119 commented on #29
@IasonManolas We are planning to release within 1~2 month.

[2022-07-06 18:27] skim0119 commented on #129
Most of the expansive operators and functions are already decorated with `numba`, and we dropped the `numpy-only` support since `v0.1.0`. Numba is applied and activated to all the core kernels.

We indicated the `numba` as a core dependencies in the documentation ([page](https://docs.cosseratrods.org/en/latest/overview/installation.html)).

[2022-07-11 07:46] mstoelzle commented on #122
@armantekinalp I have implemented the required functionality to connect rigid bodies and cosserat rods using a spherical joint. In the attached video, a robotic arm consists of two cosserat rods (red and blue) at the proximal end (also connected using a spherical joint) and then a cylinder (green) attached at the distal end. The external forces / torques act on the second rod. At least qualitative

[2022-07-11 15:09] #127 closed, assigned to skim0119

[2022-07-12 02:42] armantekinalp commented on #122
Hi @mstoelzle

Spherical joint results looks good. For you question I will let @xzhan139 to respond, whom implemented these connections in his Nature Communication paper.

[2022-07-12 02:46] xzhan139 commented on #122
@mstoelzle
Thanks for the question - Yes either way worked - we chose to implement “moment_arm x F” in the beginning by thinking of the coefficient may carry over from the linear connection case — but it was actually not the case, the coefficient are very different anyway.. We tested out the torsional springs kind of connection (as you mentioned) for both fixed and hinge joint, and it worked well

[2022-07-12 07:35] mstoelzle opened #131 "Twisting torque is not constrained by FixedJoint and HingeJoint"
## Describe the bug
The current implementation of the FixedJoint based a position spring does not constrain any twisting / torsional torques applied to a straight rod. This happens, because the current approach (essentially) computes an error between the tangential vector of rod 1 and tangential error of rod 2. As rotating around the z-axis / tangential vector does not change this vector, the twis

[2022-07-12 07:36] mstoelzle commented on #131
@xzhan139 I suggest moving to torsional springs for both the hinge joints and fixed joints. Could you please give me some hints about the previous implementation you have tried out?

[2022-07-12 10:25] mstoelzle commented on #131
Do you guys want me to land the PR to address this issue together with #122 or in separate PR  (would need to do this first then) ?

[2022-07-12 12:20] mstoelzle opened #132 "Definition of normal direction for hinge joint in inertial instead of local frame"
**Describe the bug**
As it can be see in the code below, the normal direction of the hinge joint is never transformed and directly used in the world frame. This means, that the normal direction needs to be specified in the inertial frame by the user. However, if both of the two systems connected by the hinge joint also move in 3D space, the rotating axis of the hinge stays constant in the world fr

[2022-07-12 21:09] xzhan139 commented on #131
Hi, I think these two questions of yours are interconnected - yes, we opted for moment arm type of connection, not the torsional spring connection, and that's exactly why the twisting torques are not constrained in a fixed joint. This was not a critical issue in our example cases, but it would definitely be a problem if you would need the fixed joint to resist twisting torques, like the example yo

[2022-07-12 22:25] skim0119 opened #133 "Release 0.2.4 Checklist"
# Release Checklist

- [x] Update RELEASE.md - It should also be in based on milestone description.
- [x] Commit the changes:
[code]
- [x] Final check `README` and `CONTRIBUTING`.
- [x] Bump LICENSE year (if needed)
- [x] Bump version

### Test
- [x] Run the tests
- [x] Run the formatting
- [x] Run all examples to confirm if they give expected behavior
- [x] Resolve all `remove in v0.2.4` comments

[2022-07-13 02:12] armantekinalp commented on #131
Hi @mstoelzle

You are right current implementation of fixed joint only constrains the bending and it allows twist. Currently PyElastica does not have a joint class uses torsional springs, so I think it will be a good addition.

I think let's make two different PRs so that each PR has minimal review.

[2022-07-13 18:10] Anika-Roy commented on #33
is this issue open?
Im a beginner and I'd like to work on it

[2022-07-13 19:35] armantekinalp commented on #132
For the hinge joint intention was to demonstrate how to connect two rods (one fixed other free to move) at the their ends and restrict the motion in a plane. I think documentation is misleading here.

We will take care this issue in our next release, and implement an algorithm to constrain relative motions of rods even they move in 3D space.

However, if you want/need this implementation soon I ca

[2022-07-13 23:06] skim0119 commented on #33
@Anika-Roy Thank you for your interest. Yes, this issue is still open.
If you are interested in working, let me know, I can assign you.

[2022-07-14 20:44] bhosale2 opened #136 "Removing _elastica_numba folder and add _elastica_numba.py for user notification"
Currently `numba` has become a default feature in `pyelastica` and the separate `_elastica_numba` module is deprecated since the past few version releases. The presence of that folder in future releases may create confusion as to if `numba` needs to be turned on or off in the simulator. As such, after discussion with @armantekinalp, we feel it may be time to remove that module altogether.

[2022-07-15 03:50] skim0119 commented on #136
I remember removing `_elastica_numba` folder before and replaced with `_elastica_numba.py` for `v0.3.0`. I think the folder still exists because some past rebasing skipped removing `boundary_condition.py` file. Feel free to remove the folder and make a patch directly.

We still have `_elastica_numba.py` for user notification. In `v0.2`, we left all the files and threw warnings. These warnings will

[2022-07-15 18:02] mstoelzle opened #137 "Unused and unnecessary parameters in OneEndFixedBC"
**Describe the bug**
The documentation of `OneEndFixedBC` clearly describes that the constraint is applied on the first node of the rod. Why does it need then the parameter `constrained_position_idx `, and `constrained_director_idx `. These should only be necessary for the `FixedConstraint` rod. When I look at the control flow, `constrained_position_idx `, and `constrained_director_idx ` are not u

[2022-07-15 18:10] #137 closed

[2022-07-15 19:58] skim0119 commented on #137
Just for the record, it is used and it is necessary parameters. You need to pass `-1` to fix another end. It is an alias to `FixedConstraint` for the paper and **legacy purpose**.

#54 Here is the PR.

[2022-07-15 21:17] bhosale2 commented on #136
Closed via #138.

[2022-07-15 21:17] #136 closed

[2022-07-15 21:17] bhosale2 commented on #133
Closed since completed.

[2022-07-15 21:17] #133 closed

[2022-07-16 19:50] armantekinalp opened #140 "Enable forcing class init to access the system"
**Is your feature request related to a problem? Please describe.**
Current implementation of forcing class does not have access to the `system` during initialization step. However, some of the forcing classes that will be implemented in future will need `system` properties during the initialization step.

**Describe the solution you'd like**
Make `system` a private member of forcing class.

**Desc

[2022-07-17 21:29] mstoelzle opened #142 "Inconsistent docstring in `FixedConstraint` class"
**Describe the bug**
The docstrings of the `nb_constraint_rotational_values`, `nb_constrain_translational_values` methods are not consistent with the implementation. The documentation mentions that both the `position_collection` and `fixed_position_collection` are in the shape `(dim, blocksize)`. But if you look at the code, `fixed_position_collection` is (probably) in the shape `(blocksize , dim)

[2022-07-18 12:37] mstoelzle opened #144 "Differentiable Simulator / Parallel Simulations / JAX"
**Is your feature request related to a problem? Please describe.**
There are many applications where we would like to track gradients throughout the simulator. One example could be to optimize some of the simulation parameters such as the elastic modulus, the joint stiffness etc. to fit the recorded experimental data as closely as possible.

Another limitation of the current simulator implementati

[2022-07-18 16:20] #144 closed, assigned to nobody

[2022-07-19 03:00] #131 closed

[2022-07-19 03:05] skim0119 commented on #131
I'm adding this issue to docstring for FixedJoints. (aea196b)

[2022-07-19 03:19] skim0119 commented on #101
Resolved with #141

[2022-07-19 03:19] #101 closed

[2022-07-19 19:15] bhosale2 commented on #142
@mstoelzle good catch, do you want to fix this? should be a quick one (fixing function and corresponding tests)

[2022-07-19 19:20] mstoelzle commented on #142
@bhosale2 Can I integrate the fix it into PR #143?

[2022-07-19 19:29] bhosale2 commented on #142
Hi, @mstoelzle I would request doing it in a separate PR. This keeps the issue-PR mapping one-to-one (easier to search later) and makes the PR to the point, shorter, and easier to review for us (and also easier for you to follow up on suggested changes).

[2022-07-19 20:10] mstoelzle opened #148 "Add ConfigurableFixedConstraint boundary condition class"
**Is your feature request related to a problem? Please describe.**
Currently, there exists only the option to either have a) no boundary conditions or b) fully fixed boundary conditions. The only functionality in between is that for example translations are allowed, but rotations are constrained and vice-versa. However in practice, there are many situations where we would like to allow certain tra

[2022-07-19 20:13] bhosale2 commented on #140
After discussion with @armantekinalp we decided to not do this since it involves refactoring compared to extending the codebase.

[2022-07-19 20:13] #140 closed

[2022-07-20 08:01] skim0119 commented on #142
resolved with #142

[2022-07-20 08:01] #142 closed

[2022-07-20 20:38] bhosale2 opened #150 "Add pre-commit to PyElastica"
Adding `pre-commit` to `pyelastica` is useful for identifying simple issues, and running formatting checks and tests, before submission to code review.

[2022-07-21 02:39] bhosale2 commented on #150
Fixed by #150.

[2022-07-21 02:39] #150 closed

[2022-07-22 05:26] armantekinalp opened #152 "CI failing for windows OS"
**Describe the bug**
Github actions fails for Windows OS

**Expected behavior**
Github actions should be able to test PyElastica on Windows OS.

[2022-07-22 08:15] mstoelzle opened #153 "`make install` changes lockfile, which is not ignored by git"
I am not sure if this is expected behaviour, or a bug,  but I have the following question about the contributing workflow:

- I am running on the `update-0.3.0` branch
- As documented in the [`CONTRIBUTING.md`](https://github.com/GazzolaLab/PyElastica/blob/update-0.3.0/CONTRIBUTING.md) file, I run `make install`
- This will update the `poetry.lock` file. However, `poetry.lock` is not ignored. by g

[2022-07-22 11:20] mstoelzle opened #154 "Inconsistent docstring for `EndpointForces`"
**Describe the bug**
The docstring of `EndpointForces.__init__()` is inconsistent with the code implementation. The docstring calls for the `start_force` and `end_force` to be a 2D array of shape of `(dim,1)`, but really it should be a 1D array of shape `(3,)`.

[code]

**To Reproduce**
When I supply a 2D array as a parameter, it will result in an error (see below).
[code]
will result in error
[co

[2022-07-22 15:35] bhosale2 commented on #153
Hi @mstoelzle thanks for catching this, so per Poetry's version control system (https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control), if there exists a `.lock` file one should only call `poetry install` to install the correct version locked dependencies. After that, if the developer feels new dependencies need to be added, then the `.toml` file should be modi

[2022-07-22 22:11] bhosale2 commented on #153
Fixed by #155.

[2022-07-22 22:11] #153 closed

[2022-07-23 21:39] bhosale2 commented on #154
Fixed by #157.

[2022-07-23 21:39] #154 closed

[2022-07-25 01:37] bhosale2 commented on #148
Fixed by #143.

[2022-07-25 01:37] #148 closed

[2022-07-25 19:40] mstoelzle commented on #37
Would the `Controller` mixin mentioned here have access to the whole simulator state (e.g. not just the state of a single rod)? This is a requirement we have for the use-case I am currently working on  and I am not quite sure how to implement my controller, as the `NoForces` classes in `external_forces.py` only has access to one system / rod at a time.

Also, are you still planning to implement th

[2022-07-25 19:57] mstoelzle commented on #37
I will make a first proposal / attempt for the `Controller` interface (assuming that I understand its purpose correctly):

- The user can define a `CustomController` class:
[code]

where `systems` is a named dictionary of systems, which are required for running the specified controller and need to be specified to the class at initialization:

[code]

[2022-07-26 03:15] armantekinalp commented on #37
Hi @mstoelzle

Currently we don't have man power to pursue this issue, but it is something we wanted to have in `PyElastica` in future.

We faced the same issues before some other project, where we were coupling `PyElastica` with stable-baseline RL algorithms. For that project we followed OpenAIGym environment structure and called the RL algorithm after some PyElastica steps. If you would like to

[2022-07-26 08:19] mstoelzle commented on #37
@armantekinalp Thank you for your answer and for your referral to the RL project. In case I decide to implement this functionality, I will try to merge it back to `PyElastica` as another mixin as you proposed.

Small correction for the desired control syntax to get it more in line with the usual `PyElastica` syntax:

[code]

[2022-07-27 12:55] #107 closed

[2022-07-28 09:59] matei1996 opened #159 "Illustration of cylinders is incorrect"
Dear PyElastica Team,

since yesterday my illustration of my experiment changed. I am trying to guide a rod through labyrinth of several cylinders. However, it seems like the basis of cylinders is not circular anymore. It looks more like an ellipsis. I updated my Anaconda(now 4.13.0) and Jupyter Notebook(now 6.4.11) yesterday. I am using a Python3(ipykernel). Maybe this causes the issue. I have at

[2022-07-28 15:42] bhosale2 commented on #159
@matei1996 can you please post your case file code, the function you use to plot the cylinders, and the code for that function?

[2022-07-28 15:43] armantekinalp commented on #159
Also please list the conda environment variables and their version.

[2022-07-28 16:34] matei1996 commented on #159
The code is below In the first part the function to plot and create videos is defined. The second part generates the rod and cylinders. It is a bit messy, sorry about that

The pdf
[Conda environment variables.pdf](https://github.com/GazzolaLab/PyElastica/files/9212574/Conda.environment.variables.pdf)
file contains the variables and version (I hope this is what you are asking for)

`
%reset -f
imp

[2022-07-28 23:18] bhosale2 opened #161 "Rename `ExponentialDamping` -> `AnalyticalLinearDamping`"

[2022-07-28 23:27] skim0119 commented on #159
@matei1996 I briefly looked, and I don't see any issue in the code other than figsize is not square. I would say try to set the axis to be the equal length in both x and y (set aspect ratio to be 1), and leave an issue to Matplotlib if the problem remains.

[2022-07-29 11:41] matei1996 commented on #159
Setting the aspect ratio to 1 solved the problem. Thanks for the help! I am closing the issue.

[2022-07-29 11:41] #159 closed

[2022-07-31 03:31] bhosale2 commented on #161
Closed via #163.

[2022-07-31 03:31] #161 closed

[2022-08-01 20:34] bhosale2 commented on #132
@mstoelzle whats the status on this one?

[2022-08-01 20:52] mstoelzle commented on #132
@bhosale2 Thanks for your message. The HingeJoint is not currently needed for my research. Thus, I am not currently working on an improved implementation. I just noticed the shortcomings of the current implementation while looking through the code.

At least the definition of the plane in the local instead the inertial frame should be very easy to address. However, I think the current algorithm /

[2022-08-01 21:20] bhosale2 commented on #132
Ok, we are closing this for now and will revisit if this becomes relevant in the future.

[2022-08-01 21:20] #132 closed

[2022-08-01 23:52] bhosale2 commented on #32
@mstoelzle I realized that you may have some experience in this context (a brief look into your group repositories showed revealed docker images of elastica-related packages). Do you wish to maybe take a stab at this issue?

[2022-08-02 02:36] #15 closed

[2022-08-02 02:36] skim0119 commented on #15
We are not currently planning to include this feature. We'll reopen if this is needed in the future.

[2022-08-02 20:14] armantekinalp opened #164 "Cross-check and modify if needed joint damping force direction"
As pointed out in PR #149 damping force direction sign should be opposite

https://github.com/GazzolaLab/PyElastica/blob/d0cb959ab6ac328fd518fa846f8edf2ea164992f/elastica/joint.py#L92

Correct implementation should be

[code]

[2022-08-04 11:05] mstoelzle commented on #32
@bhosale2 Thanks for your message. Yes, I have some experience with Docker containers, but not with Singularity containers.

To me, the purpose and motivation for this feature is not clearly defined enough yet. In most cases, the package is easy enough to install. Have you confirmed that 'numba' cannot be installed without admin rights even with the pip --user flag?

- If the purpose is to run lon

[2022-08-04 20:52] bhosale2 opened #165 "Autoflake as a developer dependency for cleaning up unused imports and variables"
PyElastica is muddled at a couple of places with unused imports and variables. [`autoflake`](https://github.com/PyCQA/autoflake) can be a good solution as a dev dependency, cleaning up the unused imports and maintaining it that way for future development. For an example implementation in a related project see [MagnetoPyElastica](https://github.com/armantekinalp/MagnetoPyElastica)

[2022-08-06 05:50] armantekinalp opened #166 "Rigid Cylinder-Cylinder contact"
**Is your feature request related to a problem? Please describe.**

Contact module between two cylinders are missing. Implementation of this contact module will be similar to `ExternalContact` module.

[2022-08-06 11:25] mstoelzle commented on #122
I will close this issue for now as #149 is merged now into the v0.3.0.

[2022-08-06 11:25] #122 closed

[2022-08-06 19:50] armantekinalp opened #168 "Refactor `wrappers` to `modules`"

[2022-08-06 19:55] #32 closed

[2022-08-06 19:57] armantekinalp commented on #32
At this point we package using `pypi`. In future if we replace backhand code with `c++` or `cython` then we can reopen this issue.

[2022-08-06 21:06] bhosale2 opened #169 "Update visualisation example to use ffmpeg instead of moviepy"
Currently, the continuum snake example in `examples/Visualisation` uses `moveipy` for generating videos, unlike other example cases where we use `ffmpeg` throughout. To maintain consistency, we need to update the example mentioned above to use `ffmpeg` instead of `moviepy`.

[2022-08-07 07:23] bhosale2 opened #171 "Update internal damping values for rod-rigid body contact cases"
Since rod-rigid body contact cases were developed in `v0.2.4`, the internal damping values are based on the old model. If possible before the next release, the values need to be updated to be consistent with the new model, to simulate expected dynamics.

[2022-08-10 02:33] bhosale2 commented on #164
Closed via #170.

[2022-08-10 02:33] #164 closed

[2022-08-10 02:34] bhosale2 commented on #171
Closed via #172.

[2022-08-10 02:34] #171 closed

[2022-08-16 06:06] skim0119 opened #174 "Forcing/Constraint/Connection: `rod` ->`system` if it supports rigid-body"

[2022-08-16 12:12] skim0119 opened #176 "Release v0.3 Checklist"
# Release Checklist

- [x] Final check `README` and `CONTRIBUTING`.
- [x] Bump LICENSE year
- [x] Bump version  (`pyproject.toml`) followed by `poetry lock`
- [x] ~~Dependency version (`poetry update`)~~
  - ~~Might break some dependency chain.
- [x] Check if all `remove in v0.3.0` or `change to XXX in v0.3.0` are resolved.

### Test
- [x] Run the tests
- [x] Run the formatting
- [x] CI Check
[cod

[2022-08-16 15:00] bhosale2 commented on #168
Closed via #177.

[2022-08-16 15:00] #168 closed

[2022-08-16 15:12] armantekinalp commented on #176
I think all codes for this update merged. So I will start testing examples.

[2022-08-17 17:06] skim0119 opened #178 "🔥 Bump up python version for ReadTheDocs"
**Describe the bug**
Within RTD, documentation is built using python 3.7, and the build is failing.

**Details**
We are slowly adopting the `typing` and `Protocol` module, which is included in version 3.8+. Previously, `Protocol` was in `typing_extensions`.

**What to do**
Modify `.readthedocs.yaml` to install package using poetry. This should be resolved before merging v0.3.

**Reference**
https:

[2022-08-17 17:59] skim0119 commented on #178
[![Documentation Status](https://readthedocs.org/projects/pyelastica/badge/?version=update-0.3.0)](https://docs.cosseratrods.org/en/update-0.3.0/?badge=update-0.3.0)

[2022-08-17 22:41] armantekinalp commented on #111
Closed with #173

[2022-08-17 22:41] #111 closed

[2022-08-17 22:44] armantekinalp commented on #178
fixed with [6c8e518](https://github.com/GazzolaLab/PyElastica/commit/6c8e518e24b6bccfc9be5917738aa7de95716a4a)

[2022-08-17 22:44] #178 closed

[2022-08-18 01:13] armantekinalp commented on #176
Example cases are good and running

[2022-08-18 03:14] #176 closed

[2022-08-21 20:44] bhosale2 commented on #174
Closed via #191.

[2022-08-21 20:44] #174 closed

[2022-08-21 20:57] bhosale2 commented on #36
Closed since completed.

[2022-08-21 20:57] #36 closed

[2022-08-21 23:03] bhosale2 commented on #152
Closed via #192.

[2022-08-21 23:03] #152 closed

[2022-08-25 23:13] bhosale2 commented on #165
Closed via #175.

[2022-08-25 23:13] #165 closed

[2022-08-30 20:33] bhosale2 opened #193 "Clarify namespace for elastica modules to avoid namespace confusion and clutter"
Currently, in example cases, the modules from `elastica` are imported directly as `from elastica import *`. This can become an issue when using `elastica` across packages (where `elastica` is a plugin), where modules from other packages can collide in namings with the modules from `elastica`. To avoid this, it may be helpful to use functionalities in `elastica` as:

`import elastica as ea; ea.Damp

[2022-08-30 21:05] armantekinalp commented on #193
I think it is a good suggestion.

[2022-08-31 03:05] bhosale2 opened #194 "Remove the option for internal damping module for Cosserat rods following warning message"
Currently, adding damping to the rod via `AnalyticalLinearDamper` results in the following warning message:

<img width="1394" alt="Screen Shot 2022-08-30 at 10 02 31 PM" src="https://user-images.githubusercontent.com/33580851/187583366-ed956e50-573e-48d5-ac66-8b10c015df01.png">

Per the warning to make a soft change, we should convert the warning message to an error message if the user provides i

[2022-08-31 05:31] skim0119 commented on #193
Last point on [pep8](https://peps.python.org/pep-0008/#imports)

[2022-08-31 19:46] armantekinalp commented on #194
I agree with you suggestion. As we discussed with @bhosale2, I think we should remove the internal damping functionality, all variables and tests as we planned in `v.0.3.1` and update the warning message accordingly.

[2022-10-15 15:01] LegendCC-Zhang opened #204 "ModuleNotFoundError__No Module named 'examples'"
Dear all, I used anaconda as envs to pip install pyelastica, and then I tried to do  some examples given here.

But here some issues occurred, ModuleNotFoundError: No module named "examples". And then I found that we need do “make install_examples_dependencies” first, but I do not know how to do it.
![1](https://user-images.githubusercontent.com/101251204/195993356-65c7ff53-f9d6-437d-a986-a6745293

[2022-10-15 15:02] LegendCC-Zhang commented on #204
Looking forward to your help! Thank you in advance!

[2022-10-15 20:10] bhosale2 commented on #204
@LegendCC-Zhang can you please provide more information on this issue? For instance which example did you try to run? Did you run the python example script or the jupyter notebook example?

[2022-10-16 01:33] LegendCC-Zhang commented on #204
Thanks for your reply!

I used anaconda to create an env.
![windows](https://user-images.githubusercontent.com/101251204/196013459-34ee5676-2534-465b-9de2-d61ade58e438.png)
, then "pip install pyelastica", and then used jupyter notebook to run the examples.
For the examples, such as "[timoshenko_postprocessing.py](https://github.com/GazzolaLab/PyElastica/blob/master/examples/TimoshenkoBeamCase/tim

[2022-10-16 02:58] armantekinalp commented on #204
@LegendCC-Zhang can you follow these steps

1. Please clone the code and `cd` inside the cloned directory
2. Do `make poetry-download`
3. Do `make install`
4. Do `make install_example_dependencies`
5. `pip install pyelastica`
6. Then please run `python examples/TimoshenkoBeamCase/timoshenko.py `

Let me know if you have any problems.

[2022-10-19 01:52] #204 closed

[2022-10-19 15:58] armantekinalp opened #207 "Include Windows builds"
Currently there is an issue with Windows CI builds, because of that we are removing Windows build in #206 . However, we should include it in future. @bhosale2 could you please attach the relevant links.

[2022-10-20 07:38] Shikharishere commented on #169
Hey @bhosale2 is this issue still open. If yes, I am happy to contribute...🙂

[2022-10-21 17:43] bhosale2 commented on #207
Currently, there are issues with directly running windows in os-matrix for CI. There are active open issues in this regard on the concerned repo (https://github.com/snok/install-poetry/issues/99, https://github.com/snok/install-poetry/issues/100). A temporary solution for this is a hack provided by the authors (https://github.com/snok/install-poetry#running-on-windows). We should probably bring ba

[2022-11-07 09:42] danielesmm opened #211 "Endpoint force application"
**Describe the setup**
Hi all,
my idea is to have a single rod, apply a force at the endpoint, measure the force that is applied (expoliting callbacks) and then apply an opposite force to counteract the external load application. I want the rod to keep the straight position even if forces are applied on it. Do you know how to apply the counteracting force once the simulation started? Thank you

[2022-11-07 15:27] armantekinalp commented on #211
Hi @danielesmm ,

You can add two  [EndpointForces](https://github.com/GazzolaLab/PyElastica/blob/master/elastica/external_forces.py#L128) with a force vector opposite direction to the simulator.

[code]

[2022-11-08 02:50] armantekinalp commented on #211
Hi @danielesmm

Could you please share the error here? From your description, I think you need to write a new forcing class that dynamically adjust the applied force on the rod. Basically you get the external forces applied using callback, store it in some array and use that array again in your new forcing class to apply on the rod.

[2022-11-14 10:42] SvRichter opened #213 "Follower Forces and Torques"
Hi,

I am trying to implement the helical motion benchmark from this paper:

https://www.researchgate.net/publication/329252597_A_Geometrically_Exact_Model_for_Soft_Continuum_Robots_The_Finite_Element_Deformation_Space_Formulation

To do this I need to define a follower force and follower torque at the tip of the rod. The force needs to remain perpendicular to the rod under deformation. This is my

[2022-11-23 14:20] danielesmm opened #215 "Rigid connection between two rods"
Hi all,
I need help for my project..
I have two rods directed along the x direction that are parallel to each other. The two rods are connected by means of a third rod along the y direction. Do you how to fix the connecting rod to the two rods without using joints?
I tried with joints but the connection is not strong enough.
I want to use a sort of boundary condition so that the two ends of the ho

[2022-11-24 01:38] armantekinalp commented on #213
Hi @SvRichter

This is very interesting benchmark, I am not sure the forcing function you wrote is the same as the one given in paper. In the paper they are saying S-shaped profile. I haven't read paper in detail, but do they mention the profile somewhere else?

In you implementation the force seems constant and not changing, I think force direction has to be changing.

[2022-11-24 01:53] armantekinalp commented on #215
Hi @danielesmm ,

I think joints is the best way to do these type of connections. But if you want to implement a boundary condition, you can set the node position of connecting nodes to each other. This is a hacky way to do it.

You need to define a new BC class which takes rod one and rod two and their connection indexes. Make rod one rod two and indexes as members of this class. Then at the appl

[2022-11-24 02:03] danielesmm commented on #215
Thank you @armantekinalp ,
I think that defining the BC class is the best way. However, I have no idea on how constrain the two nodes.

[2022-11-24 02:27] armantekinalp commented on #215
Implementation wise I suggest reviewing this implementation first https://github.com/GazzolaLab/PyElastica/blob/master/elastica/boundary_conditions.py#L486

You need to update the class input arguments and take rod_one and rod_two as well and make them references of your new bc class. Give it a shot and share the code here if you have questions.

[2022-11-24 04:00] danielesmm commented on #215
class ConstrainTwoRods(GeneralConstraint):

    def __init__(self,
                rod2,
                index1,
                index2,
                *args,
                **kwargs):

        super().__init__(
            *args,
            translational_constraint_selector=np.array([True, True, True]),
            rotational_constraint_selector=np.array([True, True, True]),
            **kwar

[2022-11-24 23:11] armantekinalp commented on #215
Yes, remove the `njit` decorators. Numba cannot access to the class self variables.

[2022-11-28 01:37] #215 closed